openapi: 3.1.0
info:
  title: Mux Animated Images Filters API
  description: Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
  version: v1
  contact:
    name: Mux DevEx
    url: https://docs.mux.com
    email: devex@mux.com
servers:
- url: https://api.mux.com
  description: Mux Production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Filters
  description: Deprecated, please refer to the Dimensions APIs.
  x-displayName: Filters
paths:
  /data/v1/filters:
    get:
      deprecated: true
      tags:
      - Filters
      summary: List Filters
      description: 'The API has been replaced by the list-dimensions API call.


        Lists all the filters broken out into basic and advanced.

        '
      operationId: list-filters
      servers:
      - url: https://api.mux.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFiltersResponse'
              example:
                total_row_count: 1
                timeframe:
                - 1610027251
                - 1610113651
                data:
                  basic:
                  - browser
                  - operating_system
                  - player_remote_played
                  - player_software
                  - player_software_version
                  - player_mux_plugin_name
                  - player_mux_plugin_version
                  - player_autoplay
                  - player_preload
                  - video_title
                  - video_id
                  - stream_type
                  - source_type
                  - source_hostname
                  - continent_code
                  - country
                  - player_error_code
                  - asset_id
                  - live_stream_id
                  - playback_id
                  - video_content_type
                  - page_type
                  - view_drm_type
                  - view_has_ad
                  - custom_1
                  - custom_2
                  - custom_3
                  - custom_4
                  - custom_5
                  - custom_6
                  - custom_7
                  - custom_8
                  - custom_9
                  - custom_10
                  - view_dropped
                  advanced:
                  - browser_version
                  - operating_system_version
                  - viewer_device_name
                  - viewer_device_model
                  - viewer_device_category
                  - viewer_device_manufacturer
                  - player_name
                  - player_version
                  - video_series
                  - video_encoding_variant
                  - experiment_name
                  - sub_property_id
                  - asn
                  - cdn
                  - viewer_connection_type
                  - view_session_id
                  - region
                  - viewer_user_id
                  - exit_before_video_start
                  - video_startup_failure
                  - playback_failure
                  - preroll_ad_asset_hostname
                  - preroll_ad_tag_hostname
                  - preroll_played
                  - preroll_requested
                  - playback_business_exception
                  - video_startup_business_exception
                  - ad_playback_failure
                  - content_playback_failure
      security:
      - accessToken: []
      - authorizationToken: []
  /data/v1/filters/{FILTER_ID}:
    get:
      deprecated: true
      tags:
      - Filters
      summary: Lists Values for a Specific Filter
      description: 'The API has been replaced by the list-dimension-values API call.


        Lists the values for a filter along with a total count of related views.

        '
      operationId: list-filter-values
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/filters'
      - $ref: '#/components/parameters/timeframe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilterValuesResponse'
              example:
                total_row_count: 1
                timeframe:
                - 1610028123
                - 1610114523
                data:
                - value: Chrome
                  total_count: 5
      security:
      - accessToken: []
      - authorizationToken: []
components:
  parameters:
    filters:
      name: filters[]
      in: query
      description: 'Filter results using key:value pairs. Must be provided as an array query string parameter.


        **Basic filtering:**

        * `filters[]=dimension:value` - Include rows where dimension equals value

        * `filters[]=!dimension:value` - Exclude rows where dimension equals value


        **For trace dimensions (like video_cdn_trace):**

        * `filters[]=+dimension:value` - Include rows where trace contains value

        * `filters[]=-dimension:value` - Exclude rows where trace contains value

        * `filters[]=dimension:[value1,value2]` - Exact trace match


        **Examples:**

        * `filters[]=country:US` - US views only

        * `filters[]=+video_cdn_trace:fastly` - Views using Fastly CDN

        '
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    filter_id:
      name: FILTER_ID
      in: path
      description: ID of the Filter
      required: true
      example: abcd1234
      schema:
        type: string
    page:
      name: page
      in: query
      description: Offset by this many pages, of the size of `limit`
      required: false
      schema:
        type: integer
        format: int32
        default: 1
    timeframe:
      name: timeframe[]
      in: query
      description: "Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]=).\n\nAccepted formats are...\n\n  * array of epoch timestamps e.g. `timeframe[]=1498867200&timeframe[]=1498953600`\n  * duration string e.g. `timeframe[]=24:hours or timeframe[]=7:days`\n"
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    limit:
      name: limit
      in: query
      description: Number of items to include in the response
      required: false
      schema:
        type: integer
        format: int32
        default: 25
  schemas:
    FilterValue:
      type: object
      properties:
        value:
          type: string
          nullable: true
        total_count:
          type: integer
          format: int64
      required:
      - value
      - total_count
    ListFiltersResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            basic:
              type: array
              items:
                type: string
            advanced:
              type: array
              items:
                type: string
          required:
          - basic
          - advanced
        total_row_count:
          type: integer
          format: int64
          nullable: true
        timeframe:
          type: array
          items:
            type: integer
            format: int64
      required:
      - data
      - total_row_count
      - timeframe
    ListFilterValuesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FilterValue'
        total_row_count:
          type: integer
          format: int64
        timeframe:
          type: array
          items:
            type: integer
            format: int64
      required:
      - data
      - total_row_count
      - timeframe
  securitySchemes:
    accessToken:
      description: 'The Mux Video API uses an Access Token and Secret Key for authentication. If you haven''t already, [generate a new Access Token](https://dashboard.mux.com/settings/access-tokens) in the Access Token settings of your Mux account dashboard.


        Once you have an Access Token ID and Secret, you can then simply include those as the username (id) and password (secret) in the same way you use traditional basic auth.

        '
      scheme: basic
      type: http
    authorizationToken:
      description: 'OAuth authorization token, used as a Bearer Auth header

        '
      scheme: bearer
      type: http
x-tagGroups:
- name: Video
  tags:
  - Assets
  - Live Streams
  - Playback ID
  - URL Signing Keys
  - Direct Uploads
  - Delivery Usage
  - Playback Restrictions
  - DRM Configurations
  - Transcription Vocabularies
- name: Data
  tags:
  - Video Views
  - Errors
  - Filters
  - Exports
  - Metrics
  - Monitoring
  - Real-Time
  - Dimensions
  - Incidents
  - Annotations
  - View and Viewer Counts
- name: System
  tags:
  - Signing Keys
  - Utilities
- name: Robots
  tags:
  - Jobs
  - Ask Questions
  - Edit Captions
  - Find Key Moments
  - Generate Chapters
  - Moderate
  - Summarize
  - Translate Captions
- name: Playback
  tags:
  - Thumbnails
  - Animated Images
  - Storyboards
  - Streaming
  - Captions and Transcripts
