openapi: 3.2.0
info:
  title: Mux API
  description: Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
  version: v1
  contact:
    name: Mux DevEx
    url: https://docs.mux.com
    email: devex@mux.com
servers:
- url: https://api.mux.com
  description: Mux Production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Mux API
paths: {}
webhooks:
  video.asset.created:
    post:
      requestBody:
        description: An asset has been created
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.ready:
    post:
      requestBody:
        description: An asset is ready for playback. You can now use the asset's `playback_id` to successfully start streaming this asset.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.ready
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.errored:
    post:
      requestBody:
        description: An asset has encountered an error. Use this to notify your server about assets with errors. Asset errors can happen for a number of reasons, most commonly an input URL that Mux is unable to download or a file that is not a valid video file.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.updated:
    post:
      requestBody:
        description: An asset has been updated. Use this to make sure your server is notified about changes to assets.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.updated
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.deleted:
    post:
      requestBody:
        description: An asset has been deleted. Use this so that your server knows when an asset has been deleted, at which point it will no longer be playable.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.live_stream_completed:
    post:
      requestBody:
        description: The live stream for this asset has completed. Every time a live stream starts and ends a new asset gets created and this event fires.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.live_stream_completed
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_renditions.ready:
    post:
      requestBody:
        description: Static renditions for this asset are ready. Static renditions are streamable mp4 files that are most commonly used for allowing users to download files for offline viewing.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_renditions.ready
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_renditions.preparing:
    post:
      requestBody:
        description: Static renditions for this asset are being prepared. After requesting static renditions you will get this webhook when they are being prepared.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_renditions.preparing
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_renditions.deleted:
    post:
      requestBody:
        description: Static renditions for this asset have been deleted. The static renditions (mp4 files) for this asset will no longer be available.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_renditions.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_renditions.errored:
    post:
      requestBody:
        description: Preparing static renditions for this asset has encountered an error. This indicates that there was some error when creating static renditions (mp4s) of your asset. This should be rare and if you see it unexpectedly please open a support ticket.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_renditions.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.master.ready:
    post:
      requestBody:
        description: Master access for this asset is ready. Master access is used when downloading an asset for purposes of editing or post-production work. The master access file is not intended to be streamed or downloaded by end-users.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.master.ready
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.master.preparing:
    post:
      requestBody:
        description: Master access for this asset is being prepared. After requesting master access you will get this webhook while it is being prepared.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.master.preparing
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.master.deleted:
    post:
      requestBody:
        description: Master access for this asset has been deleted. Master access for this asset has been removed. You will no longer be able to download the master file. If you want it again you should re-request it.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.master.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.master.errored:
    post:
      requestBody:
        description: Master access for this asset has encountered an error. This indicates that there was some error when creating master access for this asset. This should be rare and if you see it unexpectedly please open a support ticket.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.master.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.track.created:
    post:
      requestBody:
        description: A new track for this asset has been created, for example a subtitle text track.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.track.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetTrack'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.track.ready:
    post:
      requestBody:
        description: A track for this asset is ready. In the example of a subtitle text track the text track will now be delivered with your HLS stream.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.track.ready
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetTrack'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.track.errored:
    post:
      requestBody:
        description: A track for this asset has encountered an error. There was some error preparing this track. Most commonly this could be a text track file that Mux was unable to download for processing.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.track.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetTrack'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.track.deleted:
    post:
      requestBody:
        description: A track for this asset has been deleted.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.track.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetTrack'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_rendition.created:
    post:
      requestBody:
        description: A new static rendition for this asset has been created.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_rendition.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetStaticRendition'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_rendition.ready:
    post:
      requestBody:
        description: A static rendition for this asset is ready.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_rendition.ready
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetStaticRendition'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_rendition.errored:
    post:
      requestBody:
        description: A static rendition for this asset errored.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_rendition.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetStaticRendition'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_rendition.deleted:
    post:
      requestBody:
        description: A static rendition for this asset was deleted.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_rendition.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetStaticRendition'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.static_rendition.skipped:
    post:
      requestBody:
        description: A static rendition for this asset was skipped, due to the source not being suitable for the requested static rendition.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.static_rendition.skipped
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetStaticRendition'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.warning:
    post:
      requestBody:
        description: This event fires when Mux has encountered a non-fatal issue with the recorded asset of the live stream. At this time, the event is only fired when Mux is unable to download a slate image from the URL set as `reconnect_slate_url` parameter value.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.warning
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAssetWarning'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.asset.non_standard_input_detected:
    post:
      requestBody:
        description: This event fires when Mux has detected that an input for an asset does not conform to our standard input specification. Non-standard assets take longer to process as they have to be transcoded before publication. The `data.non_standard_input_reasons` field contains details of why this specific input is non-standard. [See the minimize processing time guide for more details.](https://docs.mux.com/guides/minimize-processing-time)
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.asset.non_standard_input_detected
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAsset'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.upload.asset_created:
    post:
      requestBody:
        description: An asset has been created from this upload. This is useful to know what a user of your application has finished uploading a file using the URL created by a Direct Upload.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.upload.asset_created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookDirectUpload'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.upload.cancelled:
    post:
      requestBody:
        description: Upload has been canceled. This event fires after hitting the cancel direct upload API.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.upload.cancelled
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookDirectUpload'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.upload.created:
    post:
      requestBody:
        description: Upload has been created. This event fires after creating a direct upload.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.upload.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookDirectUpload'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.upload.errored:
    post:
      requestBody:
        description: Upload has encountered an error. This event fires when the asset created by the direct upload fails. Most commonly this happens when an end-user uploads a non-video file.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.upload.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookDirectUpload'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.created:
    post:
      requestBody:
        description: A new live stream has been created. Broadcasters with a `stream_key` can start sending encoder feed to this live stream.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.connected:
    post:
      requestBody:
        description: An encoder has successfully connected to this live stream.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.connected
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.recording:
    post:
      requestBody:
        description: Recording on this live stream has started. Mux has successfully processed the first frames from the encoder. If you show a _red dot_ icon in your UI, this would be a good time to show it.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.recording
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.active:
    post:
      requestBody:
        description: This live stream is now 'active'. The live streams `playback_id` OR the `playback_id` associated with this live stream's asset can be used right now to created HLS URLs (`https://stream.mux.com/{PLAYBACK_ID}.m3u8` and start streaming in your player. Note that before the live stream is `'active'`, trying to stream the HLS URL will result in HTTP `412` errors.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.active
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.disconnected:
    post:
      requestBody:
        description: 'An encoder has disconnected from this live stream. Note that while disconnected the live stream is still `status: ''active''`.'
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.disconnected
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.idle:
    post:
      requestBody:
        description: The `reconnect_window` for this live stream has elapsed. The live stream `status` will now transition to `'idle'`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.idle
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.updated:
    post:
      requestBody:
        description: This live stream has been updated. For example, after resetting the live stream's stream key.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.updated
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.enabled:
    post:
      requestBody:
        description: This live stream has been enabled. This event fires after enable live stream API.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.enabled
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.disabled:
    post:
      requestBody:
        description: This live stream has been disabled. This event fires after disable live stream API. Disabled live streams will no longer accept new RTMP connections.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.disabled
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.deleted:
    post:
      requestBody:
        description: This event fires after deleting a live stream
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStream'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.warning:
    post:
      requestBody:
        description: This live stream event fires when Mux has encountered a non-fatal issue. There is no disruption to the live stream ingest and playback. At this time, the event is only fired when Mux is unable to download an image from the URL set as `reconnect_slate_url` parameter value.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.warning
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookLiveStreamWarning'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.created:
    post:
      requestBody:
        description: A new simulcast target has been created for this live stream.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.created
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.idle:
    post:
      requestBody:
        description: When the parent live stream is `'disconnected'`, all simulcast targets will have be `'idle'`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.idle
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.starting:
    post:
      requestBody:
        description: When the parent live stream fires `'connected'` then the simulcast targets transition to `'starting'`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.starting
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.broadcasting:
    post:
      requestBody:
        description: This fires when Mux has successfully connected to the simulcast target and has begun pushing content to that third party.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.broadcasting
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.errored:
    post:
      requestBody:
        description: This fires when Mux has encountered an error either while attempting to connect to the third party streaming service or while broadcasting. Mux will try to re-establish the connection and if it does successfully the simulcast target will transition back to `'broadcasting'`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.deleted:
    post:
      requestBody:
        description: This simulcast target has been deleted.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.deleted
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.live_stream.simulcast_target.updated:
    post:
      requestBody:
        description: This simulcast target has been updated.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.live_stream.simulcast_target.updated
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookSimulcastTarget'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  video.delivery.high_traffic:
    post:
      requestBody:
        description: Alert for high traffic video delivery.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - video.delivery.high_traffic
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookVideoDeliveryHighTraffic'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.ask_questions.cancelled:
    post:
      requestBody:
        description: Fired when a `ask-questions` job transitions to `cancelled`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.ask_questions.cancelled
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAskQuestionsJob'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.ask_questions.completed:
    post:
      requestBody:
        description: Fired when a `ask-questions` job transitions to `completed`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.ask_questions.completed
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAskQuestionsJob'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.ask_questions.errored:
    post:
      requestBody:
        description: Fired when a `ask-questions` job transitions to `errored`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.ask_questions.errored
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAskQuestionsJob'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.ask_questions.pending:
    post:
      requestBody:
        description: Fired when a `ask-questions` job transitions to `pending`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.ask_questions.pending
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAskQuestionsJob'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.ask_questions.processing:
    post:
      requestBody:
        description: Fired when a `ask-questions` job transitions to `processing`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.ask_questions.processing
                  data:
                    type: object
                    $ref: '#/components/schemas/WebhookAskQuestionsJob'
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.edit_captions.cancelled:
    post:
      requestBody:
        description: Fired when a `edit-captions` job transitions to `cancelled`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.edit_captions.cancelled
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique job identifier.
                      passthrough:
                        type: string
                        description: Arbitrary string supplied at creation, returned as-is.
                      units_consumed:
                        type: integer
                        minimum: 0
                        description: Number of Mux AI units consumed by this job.
                      created_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was created.
                      updated_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was last updated.
                      workflow:
                        type: string
                        enum:
                        - edit-captions
                      parameters:
                        type: object
                        properties:
                          asset_id:
                            type: string
                            minLength: 1
                            description: The Mux asset ID whose existing text track should be edited.
                          track_id:
                            type: string
                            minLength: 1
                            description: The existing ready Mux text track ID to edit and optionally replace.
                          auto_censor_profanity:
                            type: object
                            properties:
                              detection_method:
                                type: string
                                enum:
                                - llm
                                default: llm
                                description: How profanity is detected. Currently only `llm` is supported, which uses an LLM to identify profanity in cue text.
                              mode:
                                type: string
                                enum:
                                - blank
                                - remove
                                - mask
                                default: blank
                                description: 'Replacement strategy for detected profanity: blank inserts bracketed underscores, remove drops the match, and mask replaces characters with question marks. Defaults to "blank".'
                              always_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Additional words or short phrases that should always be censored even if the model does not detect them.
                              never_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Words or short phrases that should never be censored even if the model flags them.
                            description: Optional LLM-driven profanity detection and censorship rules applied to the selected caption track.
                          replacements:
                            type: array
                            items:
                              type: object
                              properties:
                                find:
                                  type: string
                                  minLength: 1
                                  description: Exact word or phrase to replace in cue text.
                                replace:
                                  type: string
                                  description: Replacement text to insert when a match is found.
                                case_sensitive:
                                  type: boolean
                                  default: false
                                  description: When true, `find` is matched only with exact case. Defaults to false (case-insensitive matching), so "gonna" also matches "Gonna" and "GONNA".
                              required:
                              - find
                              - replace
                            description: Optional static word or phrase replacements applied directly to cue text.
                          upload_to_mux:
                            type: boolean
                            default: true
                            description: Whether to upload the edited VTT back to the Mux asset as a new text track. Defaults to true.
                          delete_original_track:
                            type: boolean
                            default: true
                            description: Whether to delete the original source text track after the edited track upload succeeds. Has effect only when upload_to_mux is true. Defaults to true.
                          track_name_suffix:
                            type: string
                            minLength: 1
                            description: Optional suffix appended to the uploaded replacement track name. Defaults to "edited".
                        required:
                        - asset_id
                        - track_id
                        example:
                          asset_id: mux_asset_123abc
                          track_id: text_track_456def
                          replacements:
                          - find: Mucks
                            replace: Mux
                            case_sensitive: true
                          - find: gonna
                            replace: going to
                          upload_to_mux: true
                          delete_original_track: true
                      status:
                        type: string
                        enum:
                        - pending
                        - processing
                        - completed
                        - errored
                        - cancelled
                        description: Current job status.
                      outputs:
                        type: object
                        properties:
                          total_replacement_count:
                            type: integer
                            minimum: 0
                            description: Total count of cue text replacements applied across all edit operations.
                          uploaded_track_id:
                            type: string
                            minLength: 1
                            description: Mux text track ID for the uploaded edited captions. Present when upload_to_mux is true and the upload succeeds.
                          temporary_vtt_url:
                            type: string
                            minLength: 1
                            description: Temporary pre-signed URL for downloading the edited VTT file.
                        required:
                        - total_replacement_count
                        example:
                          total_replacement_count: 5
                          uploaded_track_id: text_track_789ghi
                          temporary_vtt_url: https://s3.example.com/edited.vtt?sig=abc
                        description: Workflow results. Present when status is 'completed'.
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Stable public error category identifier.
                            message:
                              type: string
                              description: Human-readable public error message.
                            retryable:
                              type: boolean
                              description: Whether retrying this job may resolve the error.
                          required:
                          - type
                          - message
                        description: Error details. Present when status is 'errored'.
                      resources:
                        type: object
                        properties:
                          assets:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Mux asset ID.
                                meta:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      description: Asset title from Mux metadata.
                                    creator_id:
                                      type: string
                                      description: Creator identifier from Mux metadata.
                                    external_id:
                                      type: string
                                      description: External identifier from Mux metadata.
                                  description: Mux asset metadata, if available.
                                passthrough:
                                  type: string
                                  description: Passthrough string from the Mux asset.
                                _links:
                                  type: object
                                  properties:
                                    self:
                                      type: object
                                      properties:
                                        href:
                                          type: string
                                          description: URL to the Mux asset resource.
                                      required:
                                      - href
                                  required:
                                  - self
                                  description: Hypermedia links for the asset.
                              required:
                              - id
                              - _links
                            description: Mux assets associated with this job.
                        required:
                        - assets
                        example:
                          assets:
                          - id: abc123asset
                            meta:
                              title: My Video
                              creator_id: user123
                              external_id: ext456
                            _links:
                              self:
                                href: https://api.mux.com/video/v1/assets/abc123asset
                        description: Related Mux resources linked to this job.
                    required:
                    - id
                    - units_consumed
                    - created_at
                    - updated_at
                    - workflow
                    - parameters
                    - status
                    description: The job that triggered the webhook event. In the actual payload this is nested under a dynamic event name key (e.g. `robots.job.summarize.completed`), not at the top level.
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.edit_captions.completed:
    post:
      requestBody:
        description: Fired when a `edit-captions` job transitions to `completed`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.edit_captions.completed
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique job identifier.
                      passthrough:
                        type: string
                        description: Arbitrary string supplied at creation, returned as-is.
                      units_consumed:
                        type: integer
                        minimum: 0
                        description: Number of Mux AI units consumed by this job.
                      created_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was created.
                      updated_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was last updated.
                      workflow:
                        type: string
                        enum:
                        - edit-captions
                      parameters:
                        type: object
                        properties:
                          asset_id:
                            type: string
                            minLength: 1
                            description: The Mux asset ID whose existing text track should be edited.
                          track_id:
                            type: string
                            minLength: 1
                            description: The existing ready Mux text track ID to edit and optionally replace.
                          auto_censor_profanity:
                            type: object
                            properties:
                              detection_method:
                                type: string
                                enum:
                                - llm
                                default: llm
                                description: How profanity is detected. Currently only `llm` is supported, which uses an LLM to identify profanity in cue text.
                              mode:
                                type: string
                                enum:
                                - blank
                                - remove
                                - mask
                                default: blank
                                description: 'Replacement strategy for detected profanity: blank inserts bracketed underscores, remove drops the match, and mask replaces characters with question marks. Defaults to "blank".'
                              always_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Additional words or short phrases that should always be censored even if the model does not detect them.
                              never_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Words or short phrases that should never be censored even if the model flags them.
                            description: Optional LLM-driven profanity detection and censorship rules applied to the selected caption track.
                          replacements:
                            type: array
                            items:
                              type: object
                              properties:
                                find:
                                  type: string
                                  minLength: 1
                                  description: Exact word or phrase to replace in cue text.
                                replace:
                                  type: string
                                  description: Replacement text to insert when a match is found.
                                case_sensitive:
                                  type: boolean
                                  default: false
                                  description: When true, `find` is matched only with exact case. Defaults to false (case-insensitive matching), so "gonna" also matches "Gonna" and "GONNA".
                              required:
                              - find
                              - replace
                            description: Optional static word or phrase replacements applied directly to cue text.
                          upload_to_mux:
                            type: boolean
                            default: true
                            description: Whether to upload the edited VTT back to the Mux asset as a new text track. Defaults to true.
                          delete_original_track:
                            type: boolean
                            default: true
                            description: Whether to delete the original source text track after the edited track upload succeeds. Has effect only when upload_to_mux is true. Defaults to true.
                          track_name_suffix:
                            type: string
                            minLength: 1
                            description: Optional suffix appended to the uploaded replacement track name. Defaults to "edited".
                        required:
                        - asset_id
                        - track_id
                        example:
                          asset_id: mux_asset_123abc
                          track_id: text_track_456def
                          replacements:
                          - find: Mucks
                            replace: Mux
                            case_sensitive: true
                          - find: gonna
                            replace: going to
                          upload_to_mux: true
                          delete_original_track: true
                      status:
                        type: string
                        enum:
                        - pending
                        - processing
                        - completed
                        - errored
                        - cancelled
                        description: Current job status.
                      outputs:
                        type: object
                        properties:
                          total_replacement_count:
                            type: integer
                            minimum: 0
                            description: Total count of cue text replacements applied across all edit operations.
                          uploaded_track_id:
                            type: string
                            minLength: 1
                            description: Mux text track ID for the uploaded edited captions. Present when upload_to_mux is true and the upload succeeds.
                          temporary_vtt_url:
                            type: string
                            minLength: 1
                            description: Temporary pre-signed URL for downloading the edited VTT file.
                        required:
                        - total_replacement_count
                        example:
                          total_replacement_count: 5
                          uploaded_track_id: text_track_789ghi
                          temporary_vtt_url: https://s3.example.com/edited.vtt?sig=abc
                        description: Workflow results. Present when status is 'completed'.
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Stable public error category identifier.
                            message:
                              type: string
                              description: Human-readable public error message.
                            retryable:
                              type: boolean
                              description: Whether retrying this job may resolve the error.
                          required:
                          - type
                          - message
                        description: Error details. Present when status is 'errored'.
                      resources:
                        type: object
                        properties:
                          assets:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Mux asset ID.
                                meta:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      description: Asset title from Mux metadata.
                                    creator_id:
                                      type: string
                                      description: Creator identifier from Mux metadata.
                                    external_id:
                                      type: string
                                      description: External identifier from Mux metadata.
                                  description: Mux asset metadata, if available.
                                passthrough:
                                  type: string
                                  description: Passthrough string from the Mux asset.
                                _links:
                                  type: object
                                  properties:
                                    self:
                                      type: object
                                      properties:
                                        href:
                                          type: string
                                          description: URL to the Mux asset resource.
                                      required:
                                      - href
                                  required:
                                  - self
                                  description: Hypermedia links for the asset.
                              required:
                              - id
                              - _links
                            description: Mux assets associated with this job.
                        required:
                        - assets
                        example:
                          assets:
                          - id: abc123asset
                            meta:
                              title: My Video
                              creator_id: user123
                              external_id: ext456
                            _links:
                              self:
                                href: https://api.mux.com/video/v1/assets/abc123asset
                        description: Related Mux resources linked to this job.
                    required:
                    - id
                    - units_consumed
                    - created_at
                    - updated_at
                    - workflow
                    - parameters
                    - status
                    description: The job that triggered the webhook event. In the actual payload this is nested under a dynamic event name key (e.g. `robots.job.summarize.completed`), not at the top level.
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.edit_captions.errored:
    post:
      requestBody:
        description: Fired when a `edit-captions` job transitions to `errored`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.edit_captions.errored
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique job identifier.
                      passthrough:
                        type: string
                        description: Arbitrary string supplied at creation, returned as-is.
                      units_consumed:
                        type: integer
                        minimum: 0
                        description: Number of Mux AI units consumed by this job.
                      created_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was created.
                      updated_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was last updated.
                      workflow:
                        type: string
                        enum:
                        - edit-captions
                      parameters:
                        type: object
                        properties:
                          asset_id:
                            type: string
                            minLength: 1
                            description: The Mux asset ID whose existing text track should be edited.
                          track_id:
                            type: string
                            minLength: 1
                            description: The existing ready Mux text track ID to edit and optionally replace.
                          auto_censor_profanity:
                            type: object
                            properties:
                              detection_method:
                                type: string
                                enum:
                                - llm
                                default: llm
                                description: How profanity is detected. Currently only `llm` is supported, which uses an LLM to identify profanity in cue text.
                              mode:
                                type: string
                                enum:
                                - blank
                                - remove
                                - mask
                                default: blank
                                description: 'Replacement strategy for detected profanity: blank inserts bracketed underscores, remove drops the match, and mask replaces characters with question marks. Defaults to "blank".'
                              always_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Additional words or short phrases that should always be censored even if the model does not detect them.
                              never_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Words or short phrases that should never be censored even if the model flags them.
                            description: Optional LLM-driven profanity detection and censorship rules applied to the selected caption track.
                          replacements:
                            type: array
                            items:
                              type: object
                              properties:
                                find:
                                  type: string
                                  minLength: 1
                                  description: Exact word or phrase to replace in cue text.
                                replace:
                                  type: string
                                  description: Replacement text to insert when a match is found.
                                case_sensitive:
                                  type: boolean
                                  default: false
                                  description: When true, `find` is matched only with exact case. Defaults to false (case-insensitive matching), so "gonna" also matches "Gonna" and "GONNA".
                              required:
                              - find
                              - replace
                            description: Optional static word or phrase replacements applied directly to cue text.
                          upload_to_mux:
                            type: boolean
                            default: true
                            description: Whether to upload the edited VTT back to the Mux asset as a new text track. Defaults to true.
                          delete_original_track:
                            type: boolean
                            default: true
                            description: Whether to delete the original source text track after the edited track upload succeeds. Has effect only when upload_to_mux is true. Defaults to true.
                          track_name_suffix:
                            type: string
                            minLength: 1
                            description: Optional suffix appended to the uploaded replacement track name. Defaults to "edited".
                        required:
                        - asset_id
                        - track_id
                        example:
                          asset_id: mux_asset_123abc
                          track_id: text_track_456def
                          replacements:
                          - find: Mucks
                            replace: Mux
                            case_sensitive: true
                          - find: gonna
                            replace: going to
                          upload_to_mux: true
                          delete_original_track: true
                      status:
                        type: string
                        enum:
                        - pending
                        - processing
                        - completed
                        - errored
                        - cancelled
                        description: Current job status.
                      outputs:
                        type: object
                        properties:
                          total_replacement_count:
                            type: integer
                            minimum: 0
                            description: Total count of cue text replacements applied across all edit operations.
                          uploaded_track_id:
                            type: string
                            minLength: 1
                            description: Mux text track ID for the uploaded edited captions. Present when upload_to_mux is true and the upload succeeds.
                          temporary_vtt_url:
                            type: string
                            minLength: 1
                            description: Temporary pre-signed URL for downloading the edited VTT file.
                        required:
                        - total_replacement_count
                        example:
                          total_replacement_count: 5
                          uploaded_track_id: text_track_789ghi
                          temporary_vtt_url: https://s3.example.com/edited.vtt?sig=abc
                        description: Workflow results. Present when status is 'completed'.
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Stable public error category identifier.
                            message:
                              type: string
                              description: Human-readable public error message.
                            retryable:
                              type: boolean
                              description: Whether retrying this job may resolve the error.
                          required:
                          - type
                          - message
                        description: Error details. Present when status is 'errored'.
                      resources:
                        type: object
                        properties:
                          assets:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Mux asset ID.
                                meta:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      description: Asset title from Mux metadata.
                                    creator_id:
                                      type: string
                                      description: Creator identifier from Mux metadata.
                                    external_id:
                                      type: string
                                      description: External identifier from Mux metadata.
                                  description: Mux asset metadata, if available.
                                passthrough:
                                  type: string
                                  description: Passthrough string from the Mux asset.
                                _links:
                                  type: object
                                  properties:
                                    self:
                                      type: object
                                      properties:
                                        href:
                                          type: string
                                          description: URL to the Mux asset resource.
                                      required:
                                      - href
                                  required:
                                  - self
                                  description: Hypermedia links for the asset.
                              required:
                              - id
                              - _links
                            description: Mux assets associated with this job.
                        required:
                        - assets
                        example:
                          assets:
                          - id: abc123asset
                            meta:
                              title: My Video
                              creator_id: user123
                              external_id: ext456
                            _links:
                              self:
                                href: https://api.mux.com/video/v1/assets/abc123asset
                        description: Related Mux resources linked to this job.
                    required:
                    - id
                    - units_consumed
                    - created_at
                    - updated_at
                    - workflow
                    - parameters
                    - status
                    description: The job that triggered the webhook event. In the actual payload this is nested under a dynamic event name key (e.g. `robots.job.summarize.completed`), not at the top level.
                required:
                - type
                - data
      responses:
        '200':
          description: Return a 200 to indicate that the data was received successfully
      tags:
      - Mux API
  robots.job.edit_captions.pending:
    post:
      requestBody:
        description: Fired when a `edit-captions` job transitions to `pending`.
        content:
          application/json:
            schema:
              type: object
              allOf:
              - type: object
                $ref: '#/components/schemas/BaseWebhookEvent'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - robots.job.edit_captions.pending
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique job identifier.
                      passthrough:
                        type: string
                        description: Arbitrary string supplied at creation, returned as-is.
                      units_consumed:
                        type: integer
                        minimum: 0
                        description: Number of Mux AI units consumed by this job.
                      created_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was created.
                      updated_at:
                        type: integer
                        minimum: 0
                        description: Unix timestamp (seconds) when the job was last updated.
                      workflow:
                        type: string
                        enum:
                        - edit-captions
                      parameters:
                        type: object
                        properties:
                          asset_id:
                            type: string
                            minLength: 1
                            description: The Mux asset ID whose existing text track should be edited.
                          track_id:
                            type: string
                            minLength: 1
                            description: The existing ready Mux text track ID to edit and optionally replace.
                          auto_censor_profanity:
                            type: object
                            properties:
                              detection_method:
                                type: string
                                enum:
                                - llm
                                default: llm
                                description: How profanity is detected. Currently only `llm` is supported, which uses an LLM to identify profanity in cue text.
                              mode:
                                type: string
                                enum:
                                - blank
                                - remove
                                - mask
                                default: blank
                                description: 'Replacement strategy for detected profanity: blank inserts bracketed underscores, remove drops the match, and mask replaces characters with question marks. Defaults to "blank".'
                              always_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Additional words or short phrases that should always be censored even if the model does not detect them.
                              never_censor:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                description: Words or short phrases that should never be censored even if the model flags them.
                            description: Optional LLM-driven profanity detection and censorship rules applied to the selected caption track.
                          replacements:
                            type: array
                            items:
                              type: object
                              properties:
                                find:
                                  type: string
                                  minLength: 1
                                  description: Exact word or phrase to replace in cue text.
                                replace:
                                  type: string
                                  description: Replacement text to insert when a match is found.
                                case_sensitive:
                                  type: boolean
                                  default: false
                                  description: When true, `find` is matched only with exact case. Defaults to false (case-insensitive matching), so "gonna" also matches "Gonna" and "GONNA".
                              required:
                              - find
                              - replace
                            description: Optional static word or phrase replacements applied directly to cue text.
                          upload_to_mux:
                            type: boolean
                            default: true
                            description: Whether to upload the edited VTT back to the Mux asset as a new text track. Defaults to true.
                          delete_original_track:
                            type: boolean
                            default: true
                            description: Whether to delete the original source text track after the edited track upload succeeds. Has effect only when upload_to_mux is true. Defaults to true.
                          track_name_suffix:
                            type: string
                            minLength: 1
                            description: Optional suffix appended to the uploaded replacement track name. Defaults to "edited".
                        required:
                        - asset_id
                        - track_id
                        example:
                          asset_id: mux_asset_123abc
                          track_id: text_track_456def
                          replacements:
                          - find: Mucks
                            replace: Mux
                            case_sensitive: true
                          - find: gonna
                            replace: going to
                          upload_to_mux: true
                          delete_original_track: true
                      status:
                        type: string
                        enum:
                        - pending
                        - processing
                        - completed
                        - errored
                        - cancelled
                        description: Current job status.
                      outputs:
                        type: object
                        properties:
                          total_replacement_count:
                            type: integer
                            minimum: 0
                            description: Total count of cue text replacements applied across all edit operations.
                          uploaded_track_id:
                            type: string
                            minLength: 1
                            description: Mux text track ID for the uploaded edited captions. Present when upload_to_mux is true and the upload succeeds.
                          temporary_vtt_url:
                            type: string
                            minLength: 1
                            description: Temporary pre-signed URL for downloading the edited VTT file.
                        required:
                        - total_replacement_count
                        example:
                          total_replacement_count: 5
                          uploaded_track_id: text_track_789ghi
                          temporary_vtt_url: https://s3.example.com/edited.vtt?sig=abc
                        description: Workflow results. Present when status is 'completed'.
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Stable public error category identifier.
                            message:
                              type: string
                              description: Human-readable public error message.
                            retryable:
                              type: boolean
                              description: Whether retrying this job may resolve the error.
                          required:
                          - type
                          - message
                        description: Error details. Present when status is 'errored'.
                      resources:
                        type: object
                        properties:
                          assets:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Mux asset ID.
                                meta:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      description: Asset title from Mux metadata.
                                    creator_id:
                                      type: string
                                      description: Creator identifier from Mux metadata.
                                    external_id:
                                      type: string
                                      description: External identifier from Mux metadata.
                                  description: Mux asset metadata, if available.
                                passthrough:
                                  type: string
                                  description: Passthrough string from the Mux asset.
                                _links:
                                  type: object
[...]
