openapi: 3.1.0
info:
  title: Mux Animated Images Playback ID API
  description: Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
  version: v1
  contact:
    name: Mux DevEx
    url: https://docs.mux.com
    email: devex@mux.com
servers:
- url: https://api.mux.com
  description: Mux Production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Playback ID
  description: Operations related to the manipulation of playback IDs, through which users are able to stream videos and live streams from Mux.
  x-displayName: Playback ID
paths:
  /video/v1/playback-ids/{PLAYBACK_ID}:
    get:
      tags:
      - Playback ID
      summary: Retrieve an Asset or Live Stream ID
      description: Retrieves the Identifier of the Asset or Live Stream associated with the Playback ID.
      operationId: get-asset-or-livestream-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/playback_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetOrLiveStreamIdResponse'
              example:
                data:
                  id: a1B2c3D4e5F6g7H8i9
                  policy: public
                  object:
                    type: asset
                    id: '123456789012345678'
      security:
      - accessToken: []
      - authorizationToken: []
components:
  schemas:
    GetAssetOrLiveStreamIdResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - object
          - policy
          properties:
            id:
              type: string
              description: The Playback ID used to retrieve the corresponding asset or the live stream ID
            policy:
              $ref: '#/components/schemas/PlaybackPolicy'
            object:
              type: object
              required:
              - id
              - type
              description: Describes the Asset or LiveStream object associated with the playback ID.
              properties:
                id:
                  type: string
                  description: The identifier of the object.
                type:
                  type: string
                  enum:
                  - asset
                  - live_stream
                  description: Identifies the object type associated with the playback ID.
    PlaybackPolicy:
      type: string
      enum:
      - public
      - signed
      - drm
      description: '* `public` playback IDs are accessible by constructing an HLS URL like `https://stream.mux.com/${PLAYBACK_ID}`


        * `signed` playback IDs should be used with tokens `https://stream.mux.com/${PLAYBACK_ID}?token={TOKEN}`. See [Secure video playback](https://docs.mux.com/guides/secure-video-playback) for details about creating tokens.


        * `drm` playback IDs are protected with DRM technologies. [See DRM documentation for more details](https://docs.mux.com/guides/protect-videos-with-drm).

        '
  parameters:
    playback_id:
      name: PLAYBACK_ID
      in: path
      description: The asset or live stream's playback ID.
      required: true
      schema:
        type: string
  securitySchemes:
    accessToken:
      description: 'The Mux Video API uses an Access Token and Secret Key for authentication. If you haven''t already, [generate a new Access Token](https://dashboard.mux.com/settings/access-tokens) in the Access Token settings of your Mux account dashboard.


        Once you have an Access Token ID and Secret, you can then simply include those as the username (id) and password (secret) in the same way you use traditional basic auth.

        '
      scheme: basic
      type: http
    authorizationToken:
      description: 'OAuth authorization token, used as a Bearer Auth header

        '
      scheme: bearer
      type: http
x-tagGroups:
- name: Video
  tags:
  - Assets
  - Live Streams
  - Playback ID
  - URL Signing Keys
  - Direct Uploads
  - Delivery Usage
  - Playback Restrictions
  - DRM Configurations
  - Transcription Vocabularies
- name: Data
  tags:
  - Video Views
  - Errors
  - Filters
  - Exports
  - Metrics
  - Monitoring
  - Real-Time
  - Dimensions
  - Incidents
  - Annotations
  - View and Viewer Counts
- name: System
  tags:
  - Signing Keys
  - Utilities
- name: Robots
  tags:
  - Jobs
  - Ask Questions
  - Edit Captions
  - Find Key Moments
  - Generate Chapters
  - Moderate
  - Summarize
  - Translate Captions
- name: Playback
  tags:
  - Thumbnails
  - Animated Images
  - Storyboards
  - Streaming
  - Captions and Transcripts
