openapi: 3.1.0
info:
  title: Mux Animated Images Exports API
  description: Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
  version: v1
  contact:
    name: Mux DevEx
    url: https://docs.mux.com
    email: devex@mux.com
servers:
- url: https://api.mux.com
  description: Mux Production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Exports
  description: Exports allow you to download the daily CSV files that are generated from the video views that occurred in the previous day. Please contact [support](mailto:support@mux.com) for information about enabling exports for your organization.
  x-displayName: Exports
paths:
  /data/v1/exports:
    get:
      deprecated: true
      tags:
      - Exports
      summary: List Property Video View Export Links
      description: 'The API has been replaced by the list-exports-views API call.


        Lists the available video view exports along with URLs to retrieve them.

        '
      operationId: list-exports
      servers:
      - url: https://api.mux.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExportsResponse'
              example:
                total_row_count: 10
                timeframe:
                - 1610024528
                - 1610110928
                data:
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                - https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
      security:
      - accessToken: []
      - authorizationToken: []
  /data/v1/exports/views:
    get:
      tags:
      - Exports
      summary: List Available Property View Exports
      description: Lists the available video view exports along with URLs to retrieve them.
      operationId: list-exports-views
      servers:
      - url: https://api.mux.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVideoViewExportsResponse'
              example:
                total_row_count: 7
                timeframe:
                - 1626296941
                - 1626383341
                data:
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_03.csv.gz?...signature...
                  export_date: '2021-01-03'
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_02.csv.gz?...signature...
                  export_date: '2021-01-02'
                - files:
                  - version: 2
                    type: csv
                    path: https://s3.amazonaws.com/mux-data-exports/1/2021_01_01.csv.gz?...signature...
                  export_date: '2021-01-01'
      security:
      - accessToken: []
      - authorizationToken: []
components:
  schemas:
    ExportFile:
      type: object
      properties:
        version:
          type: integer
          format: int32
        type:
          type: string
        path:
          type: string
      required:
      - version
      - type
      - path
    ExportDate:
      type: object
      properties:
        export_date:
          type: string
          format: date
        files:
          type: array
          items:
            $ref: '#/components/schemas/ExportFile'
      required:
      - export_date
      - files
    ListVideoViewExportsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportDate'
        total_row_count:
          type: integer
          format: int32
          nullable: true
        timeframe:
          type: array
          items:
            type: integer
            format: int32
      required:
      - data
      - total_row_count
      - timeframe
    ListExportsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: string
        total_row_count:
          type: integer
          format: int64
          nullable: true
        timeframe:
          type: array
          items:
            type: integer
            format: int64
      required:
      - data
      - total_row_count
      - timeframe
  securitySchemes:
    accessToken:
      description: 'The Mux Video API uses an Access Token and Secret Key for authentication. If you haven''t already, [generate a new Access Token](https://dashboard.mux.com/settings/access-tokens) in the Access Token settings of your Mux account dashboard.


        Once you have an Access Token ID and Secret, you can then simply include those as the username (id) and password (secret) in the same way you use traditional basic auth.

        '
      scheme: basic
      type: http
    authorizationToken:
      description: 'OAuth authorization token, used as a Bearer Auth header

        '
      scheme: bearer
      type: http
x-tagGroups:
- name: Video
  tags:
  - Assets
  - Live Streams
  - Playback ID
  - URL Signing Keys
  - Direct Uploads
  - Delivery Usage
  - Playback Restrictions
  - DRM Configurations
  - Transcription Vocabularies
- name: Data
  tags:
  - Video Views
  - Errors
  - Filters
  - Exports
  - Metrics
  - Monitoring
  - Real-Time
  - Dimensions
  - Incidents
  - Annotations
  - View and Viewer Counts
- name: System
  tags:
  - Signing Keys
  - Utilities
- name: Robots
  tags:
  - Jobs
  - Ask Questions
  - Edit Captions
  - Find Key Moments
  - Generate Chapters
  - Moderate
  - Summarize
  - Translate Captions
- name: Playback
  tags:
  - Thumbnails
  - Animated Images
  - Storyboards
  - Streaming
  - Captions and Transcripts
