openapi: 3.1.0
info:
  title: Mux Animated Images Live Streams API
  description: Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
  version: v1
  contact:
    name: Mux DevEx
    url: https://docs.mux.com
    email: devex@mux.com
servers:
- url: https://api.mux.com
  description: Mux Production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Live Streams
  description: 'A Live Stream represents a unique live stream of video being pushed to Mux. It includes configuration details (a Stream Key) for live broadcasting software/hardware and a Playback ID for playing the stream anywhere. Currently, RTMP is the only supported method of ingesting video. Use rtmp://global-live.mux.com:5222/app with the Live Stream''s Stream Key for getting the video into Mux, and use https://stream.mux.com with the Live Stream''s Playback ID for playback.


    A Live Stream can be used once for a specific event, or re-used forever. If you''re building an application like Facebook Live or Twitch, you could create one Live Stream per user. This allows them to configure their broadcasting software once, and the Live Stream Playback ID will always show their latest stream.


    Each RTMP session creates a new video asset automatically. You can set up a webhook to be notified each time a broadcast (or Live Stream RTMP session) begins or ends with the video.live_stream.active and video.live_stream.idle events respectively. Assets that are created from a Live Stream have the same behavior as other Assets you create.


    Learn more about [how to go live in our guides](https://docs.mux.com/guides/start-live-streaming).'
  x-displayName: Live Streams
paths:
  /video/v1/live-streams:
    post:
      tags:
      - Live Streams
      summary: Create a Live Stream
      description: Creates a new live stream. Once created, an encoder can connect to Mux via the specified stream key and begin streaming to an audience.
      operationId: create-live-stream
      servers:
      - url: https://api.mux.com
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveStreamRequest'
            example:
              playback_policies:
              - public
              new_asset_settings:
                playback_policies:
                - public
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: abcdefgh
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
    get:
      tags:
      - Live Streams
      summary: List Live Streams
      description: Lists the live streams that currently exist in the current environment.
      operationId: list-live-streams
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/stream_key'
      - name: status
        in: query
        description: Filter response to return live streams with the specified status only
        required: false
        schema:
          $ref: '#/components/schemas/LiveStreamStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLiveStreamsResponse'
              example:
                data:
                - stream_key: 831b5bde-cd8a-5bc4-115d-4ba34b19f481
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 43200
                - stream_key: d273c65e-1fc8-27dc-e9ef-56144cbceb3a
                  status: idle
                  reconnect_window: 60
                  recent_asset_ids:
                  - SZs02xxHgYdkHp00OSCjJiHUHqzVQZNU332XPXRxe341o
                  - e4J9cwb5tjVxMeeV8201dC00i800ThPKKGT2SEN002dHH2s
                  playback_ids:
                  - policy: public
                    id: 00zOcribkUmXqXHzBTpflk2771BRTcKATqPjWf7JHpuM
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: B65hEUWW01ErVKDDGImKcBquYhwEAkjW6Ic3lPY0299Cc
                  created_at: '1607587513'
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}:
    get:
      tags:
      - Live Streams
      summary: Retrieve a Live Stream
      description: Retrieves the details of a live stream that has previously been created. Supply the unique live stream ID that was returned from your previous request, and Mux will return the corresponding live stream information. The same information is returned when creating a live stream.
      operationId: get-live-stream
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: 831b5bde-cd8a-5bc4-115d-4ba34b19f481
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
    delete:
      tags:
      - Live Streams
      summary: Delete a Live Stream
      description: Deletes a live stream from the current environment. If the live stream is currently active and being streamed to, ingest will be terminated and the encoder will be disconnected.
      operationId: delete-live-stream
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
    patch:
      tags:
      - Live Streams
      summary: Update a Live Stream
      description: Updates the parameters of a previously-created live stream. This currently supports a subset of variables. Supply the live stream ID and the updated parameters and Mux will return the corresponding live stream information. The information returned will be the same after update as for subsequent get live stream requests.
      operationId: update-live-stream
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamRequest'
            example:
              latency_mode: standard
              reconnect_window: 30
              max_continuous_duration: 1200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: 831b5bde-cd8a-5bc4-115d-4ba34b19f481
                  status: idle
                  reconnect_window: 30
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 1200
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids:
    post:
      tags:
      - Live Streams
      summary: Create a Live Stream Playback ID
      description: Create a new playback ID for this live stream, through which a viewer can watch the streamed content of the live stream.
      operationId: create-live-stream-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaybackIDRequest'
            example:
              policy: signed
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlaybackIDResponse'
              example:
                data:
                  policy: public
                  id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids/{PLAYBACK_ID}:
    get:
      tags:
      - Live Streams
      summary: Retrieve a Live Stream Playback ID
      description: Fetches information about a live stream's playback ID, through which a viewer can watch the streamed content from this live stream.
      operationId: get-live-stream-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      - $ref: '#/components/parameters/playback_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLiveStreamPlaybackIDResponse'
              example:
                data:
                  policy: public
                  id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
      security:
      - accessToken: []
      - authorizationToken: []
    delete:
      tags:
      - Live Streams
      summary: Delete a Live Stream Playback ID
      description: Deletes the playback ID for the live stream. This will not disable ingest (as the live stream still exists). New attempts to play back the live stream will fail immediately. However, current viewers will be able to continue watching the stream for some period of time.
      operationId: delete-live-stream-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      - $ref: '#/components/parameters/playback_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/reset-stream-key:
    post:
      tags:
      - Live Streams
      summary: Reset a Live Stream's Stream Key
      description: Reset a live stream key if you want to immediately stop the current stream key from working and create a new stream key that can be used for future broadcasts.
      operationId: reset-stream-key
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  - policy: public
                    id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/complete:
    put:
      tags:
      - Live Streams
      summary: Signal a Live Stream Is Finished
      description: '(Optional) End the live stream recording immediately instead of waiting for the reconnect_window. `EXT-X-ENDLIST` tag is added to the HLS manifest which notifies the player that this live stream is over.


        Mux does not close the encoder connection immediately. Encoders are often configured to re-establish connections immediately which would result in a new recorded asset. For this reason, Mux waits for 60s before closing the connection with the encoder. This 60s timeframe is meant to give encoder operators a chance to disconnect from their end.

        '
      operationId: signal-live-stream-complete
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '200':
          description: OK
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/disable:
    put:
      tags:
      - Live Streams
      summary: Disable a Live Stream
      description: 'Disables a live stream, making it reject incoming RTMP streams until re-enabled. The API also ends the live stream recording immediately when active. Ending the live stream recording adds the `EXT-X-ENDLIST` tag to the HLS manifest which notifies the player that this live stream is over.


        Mux also closes the encoder connection immediately. Any attempt from the encoder to re-establish connection will fail till the live stream is re-enabled.

        '
      operationId: disable-live-stream
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '200':
          description: OK
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/enable:
    put:
      tags:
      - Live Streams
      summary: Enable a Live Stream
      description: Enables a live stream, allowing it to accept an incoming RTMP stream.
      operationId: enable-live-stream
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '200':
          description: OK
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/embedded-subtitles:
    put:
      tags:
      - Live Streams
      summary: Update a Live Stream's Embedded Subtitles
      description: 'Configures a live stream to receive embedded closed captions.

        The resulting Asset''s subtitle text track will have `closed_captions: true` set.

        '
      operationId: update-live-stream-embedded-subtitles
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamEmbeddedSubtitlesRequest'
            example:
              embedded_subtitles:
              - passthrough: Example
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  - policy: public
                    id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  embedded_subtitles:
                  - name: English CC
                    language_code: en
                    language_channel: cc1
                    passthrough: Example
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/generated-subtitles:
    put:
      tags:
      - Live Streams
      summary: Update a Live Stream's Generated Subtitles
      description: 'Updates a live stream''s automatic-speech-recognition-generated subtitle configuration.

        Automatic speech recognition subtitles can be removed by sending an empty array in the

        request payload.

        '
      operationId: update-live-stream-generated-subtitles
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamGeneratedSubtitlesRequest'
            example:
              generated_subtitles:
              - name: English CC (ASR)
                language_code: en
                passthrough: Example
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  - policy: public
                    id: 4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw
                  new_asset_settings:
                    playback_policies:
                    - public
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  generated_subtitles:
                  - name: English CC (ASR)
                    language_code: en
                    passthrough: Example
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets:
    post:
      tags:
      - Live Streams
      summary: Create a Live Stream Simulcast Target
      description: Create a simulcast target for the parent live stream. Simulcast target can only be created when the parent live stream is in idle state. Only one simulcast target can be created at a time with this API.
      operationId: create-live-stream-simulcast-target
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSimulcastTargetRequest'
            example:
              url: rtmp://live.example.com/app
              stream_key: abcdefgh
              passthrough: Example
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulcastTargetResponse'
              example:
                data:
                  url: rtmp://live.example.com/app
                  stream_key: abcdefgh
                  status: idle
                  passthrough: Example
                  id: le1axfGDc9ETqh6trHNTxGQ9XEhj02fOnX0200aAh24fwlmwzqKCYNJgw
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets/{SIMULCAST_TARGET_ID}:
    delete:
      tags:
      - Live Streams
      summary: Delete a Live Stream Simulcast Target
      description: Delete the simulcast target using the simulcast target ID returned when creating the simulcast target. Simulcast Target can only be deleted when the parent live stream is in idle state.
      operationId: delete-live-stream-simulcast-target
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      - $ref: '#/components/parameters/simulcast_target_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
    get:
      tags:
      - Live Streams
      summary: Retrieve a Live Stream Simulcast Target
      description: Retrieves the details of the simulcast target created for the parent live stream. Supply the unique live stream ID and simulcast target ID that was returned in the response of create simulcast target request, and Mux will return the corresponding information.
      operationId: get-live-stream-simulcast-target
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      - $ref: '#/components/parameters/simulcast_target_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulcastTargetResponse'
              example:
                data:
                  url: rtmp://live.example.com/app
                  stream_key: abcdefgh
                  status: idle
                  passthrough: Example
                  id: 02FU00rPq00fC9S6kygrqlxygGMdpW1lk00BkFpCfc2kGregEIr7brt7CQ
      security:
      - accessToken: []
      - authorizationToken: []
  /video/v1/live-streams/{LIVE_STREAM_ID}/new-asset-settings/static-renditions:
    put:
      tags:
      - Live Streams
      summary: Update Live Stream Static Renditions for New Assets
      description: Updates a live stream's static renditions settings for new assets. Further assets made via this live stream will create static renditions per the settings provided. You must provide all static renditions desired.
      operationId: update-live-stream-new-asset-settings-static-renditions
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveStreamNewAssetSettingsStaticRenditionsRequest'
            example:
              static_renditions:
              - resolution: audio-only
              - resolution: highest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamResponse'
              example:
                data:
                  stream_key: abcdefgh
                  status: idle
                  reconnect_window: 60
                  playback_ids:
                  - policy: public
                    id: HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018
                  new_asset_settings:
                    playback_policies:
                    - public
                    static_renditions:
                    - resolution: audio-only
                    - resolution: highest
                  id: ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag
                  created_at: '1609937654'
                  latency_mode: standard
                  max_continuous_duration: 43200
      security:
      - accessToken: []
      - authorizationToken: []
    delete:
      tags:
      - Live Streams
      summary: Delete a Live Stream's Static Renditions Setting for New Assets
      description: Deletes a live stream's static renditions settings for new assets. Further assets made via this live stream will not create static renditions unless re-added.
      operationId: delete-live-stream-new-asset-settings-static-renditions
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/livestream_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
components:
  schemas:
    SimulcastTarget:
      type: object
      required:
      - id
      - url
      - status
      properties:
        id:
          type: string
          description: ID of the Simulcast Target
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set when creating a simulcast target.
        status:
          type: string
          enum:
          - idle
          - starting
          - broadcasting
          - errored
          description: "The current status of the simulcast target. See Statuses below for detailed description.\n  * `idle`: Default status. When the parent live stream is in disconnected status, simulcast targets will be idle state.\n  * `starting`: The simulcast target transitions into this state when the parent live stream transition into connected state.\n  * `broadcasting`: The simulcast target has successfully connected to the third party live streaming service and is pushing video to that service.\n  * `errored`: The simulcast target encountered an error either while attempting to connect to the third party live streaming service, or mid-broadcasting. When a simulcast target has this status it will have an `error_severity` field with more details about the error.\n"
        stream_key:
          type: string
          description: Stream Key represents a stream identifier on the third party live streaming service to send the parent live stream to. Only used for RTMP(s) simulcast destinations.
        url:
          type: string
          description: 'The RTMP(s) or SRT endpoint for a simulcast destination.

            * For RTMP(s) destinations, this should include the application name for the third party live streaming service, for example: `rtmp://live.example.com/app`.

            * For SRT destinations, this should be a fully formed SRT connection string, for example: `srt://srt-live.example.com:1234?streamid={stream_key}&passphrase={srt_passphrase}`.


            Note: SRT simulcast targets can only be used when an source is connected over SRT.

            '
        error_severity:
          type: string
          enum:
          - normal
          - fatal
          description: "The severity of the error encountered by the simulcast target.\nThis field is only set when the simulcast target is in the `errored` status.\nSee the values of severities below and their descriptions.\n  * `normal`: The simulcast target encountered an error either while attempting to connect to the third party live streaming service, or mid-broadcasting. A simulcast may transition back into the broadcasting state if a connection with the service can be re-established.\n  * `fatal`: The simulcast target is incompatible with the current input to the parent live stream. No further attempts to this simulcast target will be made for the current live stream asset.\n"
    ListLiveStreamsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LiveStream'
    LiveStream:
      type: object
      required:
      - id
      - created_at
      - latency_mode
      - max_continuous_duration
      - status
      - stream_key
      properties:
        id:
          type: string
          description: Unique identifier for the Live Stream. Max 255 characters.
        created_at:
          type: string
          format: int64
          description: Time the Live Stream was created, defined as a Unix timestamp (seconds since epoch).
        stream_key:
          type: string
          description: Unique key used for streaming to a Mux RTMP endpoint. This should be considered as sensitive as credentials, anyone with this stream key can begin streaming. Max 64 characters.
        active_asset_id:
          type: string
          description: The Asset that is currently being created if there is an active broadcast.
        recent_asset_ids:
          type: array
          description: An array of strings with the most recent Asset IDs that were created from this Live Stream. The most recently generated Asset ID is the last entry in the list.
          items:
            type: string
        status:
          $ref: '#/components/schemas/LiveStreamStatus'
        playback_ids:
          type: array
          description: An array of Playback ID objects. Use these to create HLS playback URLs. See [Play your videos](https://docs.mux.com/guides/play-your-videos) for more details.
          items:
            $ref: '#/components/schemas/PlaybackID'
        new_asset_settings:
          $ref: '#/components/schemas/AssetOptions'
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the asset. Max 255 characters.
        audio_only:
          type: boolean
          description: The live stream only processes the audio track if the value is set to true. Mux drops the video track if broadcasted.
        embedded_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamEmbeddedSubtitleSettings'
          description: Describes the embedded closed caption configuration of the incoming live stream.
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamGeneratedSubtitleSettings'
          description: Configure the incoming live stream to include subtitles created with automatic speech recognition. Each Asset created from a live stream with `generated_subtitles` configured will automatically receive two text tracks. The first of these will have a `text_source` value of `generated_live`, and will be available with `ready` status as soon as the stream is live. The second text track will have a `text_source` value of `generated_live_final` and will contain subtitles with improved accuracy, timing, and formatting. However, `generated_live_final` tracks will not be available in `ready` status until the live stream ends. If an Asset has both `generated_live` and `generated_live_final` tracks that are `ready`, then only the `generated_live_final` track will be included during playback.
        reconnect_window:
          type: number
          format: float
          default: 60
          minimum: 0
          maximum: 1800
          description: 'When live streaming software disconnects from Mux, either intentionally or due to a drop in the network, the Reconnect Window is the time in seconds that Mux should wait for the streaming software to reconnect before considering the live stream finished and completing the recorded asset. **Max**: 1800s (30 minutes).


            If not specified directly, Standard Latency streams have a Reconnect Window of 60 seconds; Reduced and Low Latency streams have a default of 0 seconds, or no Reconnect Window. For that reason, we suggest specifying a value other than zero for Reduced and Low Latency streams.


            Reduced and Low Latency streams with a Reconnect Window greater than zero will insert slate media into the recorded asset while waiting for the streaming software to reconnect or when there are brief interruptions in the live stream media. When using a Reconnect Window setting higher than 60 seconds with a Standard Latency stream, we highly recommend enabling slate with the `use_slate_for_standard_latency` option.

            '
        use_slate_for_standard_latency:
          type: boolean
          format: boolean
          default: false
          description: By default, Standard Latency live streams do not have slate media inserted while waiting for live streaming software to reconnect to Mux. Setting this to true enables slate insertion on a Standard Latency stream.
        reconnect_slate_url:
          type: string
          description: The URL of the image file that Mux should download and use as slate media during interruptions of the live stream media. This file will be downloaded each time a new recorded asset is created from the live stream. If this is not set, the default slate media will be used.
        reduced_latency:
          type: boolean
          format: boolean
          deprecated: true
          x-mux-doc-decorators:
          - hidden
          description: This field is deprecated. Please use `latency_mode` instead. Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Set this if you want lower latency for your live stream. See the [Reduce live stream latency guide](https://docs.mux.com/guides/reduce-live-stream-latency) to understand the tradeoffs.
        low_latency:
          type: boolean
          format: boolean
          deprecated: true
          x-mux-doc-decorators:
          - hidden
          description: This field is deprecated. Please use `latency_mode` instead. Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Setting this option will enable compatibility with the LL-HLS specification for low-latency streaming. This typically has lower latency than Reduced Latency streams, and cannot be combined with Reduced Latency.
        simulcast_targets:
          type: array
          description: Each Simulcast Target contains configuration details to broadcast (or "restream") a live stream to a third-party streaming service. [See the Stream live to 3rd party platforms guide](https://docs.mux.com/guides/stream-live-to-3rd-party-platforms).
          items:
            $ref: '#/components/schemas/SimulcastTarget'
        latency_mode:
          type: string
          enum:
          - low
          - reduced
          - standard
          description: Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Set this as an alternative to setting low latency or reduced latency flags.
        test:
          type: boolean
          format: boolean
          description: True means this live stream is a test live stream. Test live streams can be used to help evaluate the Mux Video APIs for free. There is no limit on the number of test live streams, but they are watermarked with the Mux logo, and limited to 5 minutes. The test live stream is disabled after the stream is active for 5 mins and the recorded asset also deleted after 24 hours.
        max_continuous_duration:
          $ref: '#/components/schemas/MaxContinuousDuration'
        srt_passphrase:
          type: string
          description: Unique key used for encrypting a stream to a Mux SRT endpoint. Max 64 characters.
        active_ingest_protocol:
          type: string
          enum:
          - rtmp
          - srt
          description: The protocol used for the active ingest stream. This is only set when the live stream is active.
        meta:
          $ref: '#/components/schemas/LiveStreamMetadata'
    CreateSimulcastTargetRequest:
      type: object
      required:
      - url
      properties:
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set by you when creating a simulcast target.
        stream_key:
          type: string
          description: Stream Key represents a stream identifier on the third party live streaming service to send the parent live stream to. Only used for RTMP(s) simulcast destinations.
        url:
          type: string
          description: 'The RTMP(s) or SRT endpoint for a simulcast destination.

            * For RTMP(s) destinations, this should include the application name for the third party live streaming service, for example: `rtmp://live.example.com/app`.

            * For SRT destinations, this should be a fully formed SRT connection string, for example: `srt://srt-live.example.com:1234?streamid={stream_key}&passphrase={srt_passphrase}`.


            Note: SRT simulcast targets can only be used when an source is connected over SRT.

            '
    LiveStreamResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/LiveStream'
    LiveStreamEmbeddedSubtitleRequest:
      type: object
      properties:
        name:
          type: string
          description: A name for this live stream closed caption track.
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the live stream closed caption track. Max 255 characters.
        language_code:
          type: string
          description: The language of the closed caption stream. Value must be BCP 47 compliant.
          default: en
        language_channel:
          type: string
          description: CEA-608 caption channel to read data from.
          default: cc1
          enum:
          - cc1
          - cc2
          - cc3
          - cc4
    GetLiveStreamPlaybackIDResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/PlaybackID'
    MaxContinuousDuration:
      type: integer
      format: int32
      default: 43200
      minimum: 60
      maximum: 43200
      description: The time in seconds a live stream may be continuously active before being disconnected. Defaults to 12 hours.
    AssetOptions:
      type: object
      properties:
        input:
          type: array
          description: Deprecated. Use `inputs` instead, which accepts an identical type.
          deprecated: true
          x-mux-doc-decorators-hidden-children: all
          items:
            $ref: '#/components/schemas/InputSettings'
        inputs:
          type: array
          description: An array of objects that each describe an input file to be used to create the asset. As a shortcut, input can also be a string URL for a file when only one input file is used. See `input[].url` for requirements.
          items:
            $ref: '#/components/schemas/InputSettings'
        playback_policy:
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
          deprecated: true
          description: Deprecated. Use `playback_policies` instead, which accepts an identical type.
          x-mux-doc-decorators-hidden-children: all
        playback_policies:
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
          description: 'An array of playback policy names that you want applied to this asset and available through `playback_ids`. Options include:


            * `"public"` (anyone with the playback URL can stream the asset).

            * `"signed"` (an additional access token is required to play the asset).


            If no `playback_policies` are set, the asset will have no playback IDs and will therefore not be playable. For simplicity, a single string name can be used in place of the array in the case of only one playback policy.

            '
        advanced_playback_policies:
          type: array
          items:
            $ref: '#/components/schemas/CreatePlaybackIDRequest'
          description: 'An array of playback policy objects that you want applied to this asset and available through `playback_ids`. `advanced_playback_policies` must be used instead of `playback_policies` when creating a DRM playback ID.

            '
        per_title_encode:
          type: boolean
          format: boolean
          x-mux-doc-decorators:
          - hidden
          deprecated: true
        passthrough:
          type: string
          description: 'You can set this field to anything you want. It will be included in the asset details and related webhooks. If you''re looking for more structured metadata, such as `title` or `external_id`, you can use the `meta` object instead. **Max: 255 characters**.'
        mp4_support:
          type: string
          deprecated: true
          enum:
          - none
          - standard
          - capped-1080p
          - audio-only
          - audio-only,capped-1080p
          description: 'Deprecated. See the [Static Renditions API](https://www.mux.com/docs/guides/enable-static-mp4-renditions) for the updated API.


            Specify what level of support for mp4 playback. You may not enable both `mp4_support` and  `static_renditions`.


            * The `capped-1080p` option produces a single MP4 file, called `capped-1080p.mp4`, with the video resolution capped at 1080p. This option produces an `audio.m4a` file for an audio-only asset.

            * The `audio-only` option produces a single M4A file, called `audio.m4a` for a video or an audio-only asset. MP4 generation will error when this option is specified for a video-only asset.

            * The `audio-only,capped-1080p` option produces both the `audio.m4a` and `capped-1080p.mp4` files. Only the `capped-1080p.mp4` file is produced for a video-only asset, while only the `audio.m4a` file is produced for an audio-only asset.


            The `standard`(deprecated) option produces up to three MP4 files with different levels of resolution (`high.mp4`, `medium.mp4`, `low.mp4`, or `audio.m4a` for an audio-only asset).


            MP4 files are not produced for `none` (default).


            In most cases you should use our default HLS-based streaming playback (`{playback_id}.m3u8`) which can automatically adjust to viewers'' connection speeds, but an mp4 can be useful for some legacy devices or downloading for offline playback. See the [Download your videos guide](https://docs.mux.com/guides/enable-static-mp4-renditions) for more information.

            '
          x-mux-doc-decorators-deprecated-enum-values:
          - standard
        normalize_audio:
          type: boolean
          format: boolean
          description: Normalize the audio track loudness level. This parameter is only applicable to on-demand (not live) assets.
          default: false
        master_access:
          type: string
          enum:
          - none
          - temporary
          description: Specify what level (if any) of support for master access. Master access can be enabled temporarily for your asset to be downloaded. See the [Download your videos guide](https://docs.mux.com/guides/enable-static-mp4-renditions) for more information.
        test:
          type: boolean
          format: boolean
          description: Marks the asset as a test asset when the value is set to true. A Test asset can help evaluate the Mux Video APIs without incurring any cost. There is no limit on number of test assets created. Test asset are watermarked with the Mux logo, limited to 10 seconds, deleted after 24 hrs.
        max_resolution_tier:
          type: string
          enum:
          - 1080p
          - 1440p
          - 2160p
          description: Max resolution tier can be used to control the maximum `resolution_tier` your asset is encoded, stored, and streamed at. If not set, this defaults to `1080p`.
        encoding_tier:
          type: string
          deprecated: true
          enum:
          - smart
          - baseline
          - premium
          description: This field is deprecated. Please use `video_quality` instead. The encoding tier informs the cost, quality, and available platform features for the asset. The default encoding tier for an account can be set in the Mux Dashboard. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        video_quality:
          type: string
          enum:
          - basic
          - plus
          - premium
          description: The video quality controls the cost, quality, and available platform features for the asset. The default video quality for an account can be set in the Mux Dashboard. This field replaces the deprecated `encoding_tier` value. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        static_renditions:
          type: array
          items:
            $ref: '#/components/schemas/CreateStaticRenditionRequest'
          description: An array of static renditions to create for this asset. You may not enable both `static_renditions` and `mp4_support (the latter being deprecated)`
        meta:
          $ref: '#/components/schemas/AssetMetadata'
        copy_overlays:
          type: boolean
          default: true
          description: If the created asset is a clip, this controls whether overlays are copied from the source asset.
    PlaybackID:
      type: object
      required:
      - id
      - policy
      properties:
        id:
          type: string
          description: Unique identifier for the PlaybackID
        policy:
          $ref: '#/components/schemas/PlaybackPolicy'
        drm_configuration_id:
          type: string
          description: The DRM configuration used by this playback ID. Must only be set when `policy` is set to `drm`.
    LiveStreamGeneratedSubtitleSettings:
      type: object
      required:
      - name
      - language_code
      properties:
        name:
          type: string
          description: A name for this live stream subtitle track.
        passthrough:
          type: string
          description: Arbitrary metadata set for the live stream subtitle track. Max 255 characters.
        language_code:
          type: string
          description: The language of the audio from which subtitles are generated.
          default: en
          enum:
          - en
          - en-US
          - es
          - fr
          - de
          - pt
          - it
        transcription_vocabulary_ids:
          type: array
          items:
            type: string
          description: Unique identifiers for existing Transcription Vocabularies to use while generating subtitles for the live stream. If the Transcription Vocabularies provided collectively have more than 1000 phrases, only the first 1000 phrases will be included.
    SimulcastTargetResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/SimulcastTarget'
    UpdateLiveStreamGeneratedSubtitlesRequest:
      type: object
      properties:
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamGeneratedSubtitleRequest'
          description: Update automated speech recognition subtitle configuration for a live stream. At most one subtitle track is allowed.
      x-mux-no-required-properties: true
    UpdateLiveStreamNewAssetSettings:
      type: object
      description: 'Updates the new asset settings to use to generate a new asset for this live stream. Only the `mp4_support`, `master_access`, and `video_quality` settings may be updated.

        '
      properties:
        mp4_support:
          type: string
          deprecated: true
          enum:
          - none
          - standard
          - capped-1080p
          - audio-only
          - audio-only,capped-1080p
          description: 'Deprecated. See the [Static Renditions API](https://www.mux.com/docs/guides/enable-static-mp4-renditions#during-live-stream-creation) for the updated API.

            Specify what level of support for mp4 playback should be added to new assets generated from this live stream.

            * The `none` option disables MP4 support for new assets. MP4 files will not be produced for an asset generated from this live stream.

            * The `capped-1080p` option produces a single MP4 file, called `capped-1080p.mp4`, with the video resolution capped at 1080p. This option produces an `audio.m4a` file for an audio-only asset.

            * The `audio-only` option produces a single M4A file, called `audio.m4a` for a video or an audio-only asset. MP4 generation will error when this option is specified for a video-only asset.

            * The `audio-only,capped-1080p` option produces both the `audio.m4a` and `capped-1080p.mp4` files. Only the `capped-1080p.mp4` file is produced for a video-only asset, while only the `audio.m4a` file is produced for an audio-only asset.

            * The `standard`(deprecated) option produces up to three MP4 files with different levels of resolution (`high.mp4`, `medium.mp4`, `low.mp4`, or `audio.m4a` for an audio-only asset).

            '
          x-mux-doc-decorators-deprecated-enum-values:
          - standard
        master_access:
          type: string
          description: Add or remove access to the master version of the video.
          enum:
          - temporary
          - none
        video_quality:
          type: string
          enum:
          - plus
          - premium
          description: The video quality controls the cost, quality, and available platform features for the asset. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        meta:
          $ref: '#/components/schemas/AssetMetadata'
    PlaybackPolicy:
      type: string
      enum:
      - public
      - signed
      - drm
      description: '* `public` playback IDs are accessible by constructing an HLS URL like `https://stream.mux.com/${PLAYBACK_ID}`


        * `signed` playback IDs should be used with tokens `https://stream.mux.com/${PLAYBACK_ID}?token={TOKEN}`. See [Secure video playback](https://docs.mux.com/guides/secure-video-playback) for details about creating tokens.


        * `drm` playback IDs are protected with DRM technologies. [See DRM documentation for more details](https://docs.mux.com/guides/protect-videos-with-drm).

        '
    CreateStaticRenditionRequest:
      type: object
      required:
      - resolution
      properties:
        resolution:
          type: string
          enum:
          - highest
          - audio-only
          - 2160p
          - 1440p
          - 1080p
          - 720p
          - 540p
          - 480p
          - 360p
          - 270p
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the static rendition. Max 255 characters.
    AssetMetadata:
      type: object
      description: 'Customer provided metadata about this asset.


        Note: This metadata may be publicly available via the video player. Do not include PII or sensitive information.

        '
      properties:
        title:
          type: string
          maxLength: 512
          description: The asset title. Max 512 code points.
        creator_id:
          type: string
          maxLength: 128
          description: This is an identifier you provide to keep track of the creator of the asset. Max 128 code points.
        external_id:
          type: string
          maxLength: 128
          description: This is an identifier you provide to link the asset to your own data. Max 128 code points.
    CreatePlaybackIDResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/PlaybackID'
    LiveStreamMetadata:
      type: object
      description: 'Customer provided metadata about this live stream.


        Note: This metadata may be publicly available via the video player. Do not include PII or sensitive information.

        '
      properties:
        title:
          type: string
          maxLength: 512
          description: The live stream title. Max 512 code points.
    InputSettings:
      type: object
      description: An array of objects that each describe an input file to be used to create the asset. As a shortcut, `input` can also be a string URL for a file when only one input file is used. See `input[].url` for requirements.
      properties:
        url:
          type: string
          description: 'The URL of the file that Mux should download and use.

            * For the main input file, this should be the URL to the muxed file for Mux to download, for example an MP4, MOV, MKV, or TS file. Mux supports most audio/video file formats and codecs, but for fastest processing, you should [use standard inputs wherever possible](https://docs.mux.com/guides/minimize-processing-time).

            * For `audio` tracks, the URL is the location of the audio file for Mux to download, for example an M4A, WAV, or MP3 file. Mux supports most audio file formats and codecs, but for fastest processing, you should [use standard inputs wherever possible](https://docs.mux.com/guides/minimize-processing-time).

            * For `text` tracks, the URL is the location of subtitle/captions file. Mux supports [SubRip Text (SRT)](https://en.wikipedia.org/wiki/SubRip) and [Web Video Text Tracks](https://www.w3.org/TR/webvtt1/) formats for ingesting Subtitles and Closed Captions.

            * For Watermarking or Overlay, the URL is the location of the watermark image. The maximum size is 4096x4096.

            * When creating clips from existing Mux assets, the URL is defined with `mux://assets/{asset_id}` template where `asset_id` is the Asset Identifier for creating the clip from.

            The url property may be omitted on the first input object when providing asset settings for LiveStream and Upload objects, in order to configure settings related to the primary (live stream or direct upload) input.

            '
        overlay_settings:
          type: object
          description: An object that describes how the image file referenced in URL should be placed over the video (i.e. watermarking). Ensure that the URL is active and persists the entire lifespan of the video object.
          properties:
            vertical_align:
              type: string
              enum:
              - top
              - middle
              - bottom
              description: Where the vertical positioning of the overlay/watermark should begin from. Defaults to `"top"`
            vertical_margin:
              type: string
              description: The distance from the vertical_align starting point and the image's closest edge. Can be expressed as a percent ("10%") or as a pixel value ("100px"). Negative values will move the overlay offscreen. In the case of 'middle', a positive value will shift the overlay towards the bottom and and a negative value will shift it towards the top.
            horizontal_align:
              type: string
              enum:
              - left
              - center
              - right
              description: Where the horizontal positioning of the overlay/watermark should begin from.
            horizontal_margin:
              type: string
              description: The distance from the horizontal_align starting point and the image's closest edge. Can be expressed as a percent ("10%") or as a pixel value ("100px"). Negative values will move the overlay offscreen. In the case of 'center', a positive value will shift the image towards the right and and a negative value will shift it towards the left.
            width:
              type: string
              description: How wide the overlay should appear. Can be expressed as a percent ("10%") or as a pixel value ("100px"). If both width and height are left blank the width will be the true pixels of the image, applied as if the video has been scaled to fit a 1920x1080 frame. If height is supplied with no width, the width will scale proportionally to the height.
            height:
              type: string
              description: How tall the overlay should appear. Can be expressed as a percent ("10%") or as a pixel value ("100px"). If both width and height are left blank the height will be the true pixels of the image, applied as if the video has been scaled to fit a 1920x1080 frame. If width is supplied with no height, the height will scale proportionally to the width.
            opacity:
              type: string
              description: How opaque the overlay should appear, expressed as a percent. (Default 100%)
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/AssetGeneratedSubtitleSettings'
          description: Generate subtitle tracks using automatic speech recognition with this configuration. Subtitles are generated using the audio of the input they are nested within. For direct uploads, this first input should omit the url parameter, as the main input file is provided via the direct upload. Note that subtitle generation happens after initial ingest, so the generated tracks will be in the `preparing` state when the asset transitions to `ready`.
        start_time:
          type: number
          format: double
          description: The time offset in seconds from the beginning of the video indicating the clip's starting marker. The default value is 0 when not included. This parameter is only applicable for creating clips when `input.url` has `mux://assets/{asset_id}` format.
        end_time:
          type: number
          format: double
          description: The time offset in seconds from the beginning of the video, indicating the clip's ending marker. The default value is the duration of the video when not included. This parameter is only applicable for creating clips when `input.url` has `mux://assets/{asset_id}` format.
        type:
          type: string
          enum:
          - video
          - audio
          - text
          description: This parameter is required for `text` type tracks.
        text_type:
          type: string
          enum:
          - subtitles
          description: Type of text track. This parameter only supports subtitles value. For more information on Subtitles / Closed Captions, [see this blog post](https://mux.com/blog/subtitles-captions-webvtt-hls-and-those-magic-flags/). This parameter is required for `text` type tracks.
        language_code:
          type: string
          description: The language code value must be a valid [BCP 47](https://tools.ietf.org/html/bcp47) specification compliant value. For example, `en` for English or `en-US` for the US version of English. This parameter is required for `text` and `audio` track types.
        name:
          type: string
          description: The name of the track containing a human-readable description. This value must be unique within each group of `text` or `audio` track types. The HLS manifest will associate a subtitle text track with this value. For example, the value should be "English" for a subtitle text track with `language_code` set to `en`. This optional parameter should be used only for `text` and `audio` type tracks. This parameter can be optionally provided for the first video input to denote the name of the muxed audio track if present. If this parameter is not included, Mux will auto-populate based on the `input[].language_code` value.
        closed_captions:
          type: boolean
          description: Indicates the track provides Subtitles for the Deaf or Hard-of-hearing (SDH). This optional parameter should be used for tracks with `type` of `text` and `text_type` set to `subtitles`.
        passthrough:
          type: string
          description: This optional parameter should be used for tracks with `type` of `text` and `text_type` set to `subtitles`.
    CreatePlaybackIDRequest:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/PlaybackPolicy'
        drm_configuration_id:
          type: string
          description: The DRM configuration used by this playback ID. Must only be set when `policy` is set to `drm`.
    LiveStreamGeneratedSubtitleRequest:
      type: object
      properties:
        name:
          type: string
          description: A name for this live stream subtitle track.
        passthrough:
          type: string
          description: Arbitrary metadata set for the live stream subtitle track. Max 255 characters.
        language_code:
          type: string
          description: The language of the audio from which subtitles are generated.
          default: en
          enum:
          - en
          - en-US
          - es
          - fr
          - de
          - pt
          - it
        transcription_vocabulary_ids:
          type: array
          items:
            type: string
          description: Unique identifiers for existing Transcription Vocabularies to use while generating subtitles for the live stream. If the Transcription Vocabularies provided collectively have more than 1000 phrases, only the first 1000 phrases will be included.
    LiveStreamEmbeddedSubtitleSettings:
      type: object
      required:
      - name
      - language_code
      - language_channel
      properties:
        name:
          type: string
          description: A name for this live stream closed caption track.
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the live stream closed caption track. Max 255 characters.
        language_code:
          type: string
          description: The language of the closed caption stream. Value must be BCP 47 compliant.
          default: en
        language_channel:
          type: string
          description: CEA-608 caption channel to read data from.
          default: cc1
          enum:
          - cc1
          - cc2
          - cc3
          - cc4
    UpdateLiveStreamEmbeddedSubtitlesRequest:
      type: object
      properties:
        embedded_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamEmbeddedSubtitleRequest'
          description: Describe the embedded closed caption contents of the incoming live stream.
    UpdateLiveStreamRequest:
      type: object
      properties:
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the live stream. Max 255 characters. In order to clear this value, the field should be included with an empty-string value.
        latency_mode:
          type: string
          enum:
          - low
          - reduced
          - standard
          description: Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Set this as an alternative to setting low latency or reduced latency flags.
        reconnect_window:
          type: number
          format: float
          default: 60
          minimum: 0
          maximum: 1800
          description: 'When live streaming software disconnects from Mux, either intentionally or due to a drop in the network, the Reconnect Window is the time in seconds that Mux should wait for the streaming software to reconnect before considering the live stream finished and completing the recorded asset.


            If not specified directly, Standard Latency streams have a Reconnect Window of 60 seconds; Reduced and Low Latency streams have a default of 0 seconds, or no Reconnect Window. For that reason, we suggest specifying a value other than zero for Reduced and Low Latency streams.


            Reduced and Low Latency streams with a Reconnect Window greater than zero will insert slate media into the recorded asset while waiting for the streaming software to reconnect or when there are brief interruptions in the live stream media. When using a Reconnect Window setting higher than 60 seconds with a Standard Latency stream, we highly recommend enabling slate with the `use_slate_for_standard_latency` option.

            '
        use_slate_for_standard_latency:
          type: boolean
          format: boolean
          default: false
          description: By default, Standard Latency live streams do not have slate media inserted while waiting for live streaming software to reconnect to Mux. Setting this to true enables slate insertion on a Standard Latency stream.
        reconnect_slate_url:
          type: string
          description: The URL of the image file that Mux should download and use as slate media during interruptions of the live stream media. This file will be downloaded each time a new recorded asset is created from the live stream. Set this to a blank string to clear the value so that the default slate media will be used.
        max_continuous_duration:
          $ref: '#/components/schemas/MaxContinuousDuration'
        new_asset_settings:
          $ref: '#/components/schemas/UpdateLiveStreamNewAssetSettings'
        meta:
          $ref: '#/components/schemas/LiveStreamMetadata'
    AssetGeneratedSubtitleSettings:
      type: object
      properties:
        name:
          type: string
          description: A name for this subtitle track.
        passthrough:
          type: string
          description: Arbitrary metadata set for the subtitle track. Max 255 characters.
        language_code:
          type: string
          description: The language of the audio from which subtitles are generated. Selecting a language of "auto" will allow language detection to set the language code automatically.
          default: en
          enum:
          - en
          - es
          - it
          - pt
          - de
          - fr
          - pl
          - ru
          - nl
          - ca
          - tr
          - sv
          - uk
          - 'no'
          - fi
          - sk
          - el
          - cs
          - hr
          - da
          - ro
          - bg
          - auto
    CreateLiveStreamRequest:
      type: object
      properties:
        playback_policy:
          deprecated: true
          description: Deprecated. Use `playback_policies` instead, which accepts an identical type.
          x-mux-doc-decorators-hidden-children: all
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
        playback_policies:
          description: 'An array of playback policy names that you want applied to this live stream and available through `playback_ids`. Options include:


            * `"public"` (anyone with the playback URL can stream the live stream).

            * `"signed"` (an additional access token is required to play the live stream).


            If no `playback_policies` is set, the live stream will have no playback IDs and will therefore not be playable. For simplicity, a single string name can be used in place of the array in the case of only one playback policy.

            '
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
        advanced_playback_policies:
          type: array
          items:
            $ref: '#/components/schemas/CreatePlaybackIDRequest'
          description: 'An array of playback policy objects that you want applied on this live stream and available through `playback_ids`. `advanced_playback_policies` must be used instead of `playback_policies` when creating a DRM playback ID.

            '
        new_asset_settings:
          $ref: '#/components/schemas/AssetOptions'
        reconnect_window:
          type: number
          format: float
          default: 60
          minimum: 0
          maximum: 1800
          description: 'When live streaming software disconnects from Mux, either intentionally or due to a drop in the network, the Reconnect Window is the time in seconds that Mux should wait for the streaming software to reconnect before considering the live stream finished and completing the recorded asset. Defaults to 60 seconds on the API if not specified.


            If not specified directly, Standard Latency streams have a Reconnect Window of 60 seconds; Reduced and Low Latency streams have a default of 0 seconds, or no Reconnect Window. For that reason, we suggest specifying a value other than zero for Reduced and Low Latency streams.


            Reduced and Low Latency streams with a Reconnect Window greater than zero will insert slate media into the recorded asset while waiting for the streaming software to reconnect or when there are brief interruptions in the live stream media. When using a Reconnect Window setting higher than 60 seconds with a Standard Latency stream, we highly recommend enabling slate with the `use_slate_for_standard_latency` option.

            '
        use_slate_for_standard_latency:
          type: boolean
          format: boolean
          default: false
          description: By default, Standard Latency live streams do not have slate media inserted while waiting for live streaming software to reconnect to Mux. Setting this to true enables slate insertion on a Standard Latency stream.
        reconnect_slate_url:
          type: string
          description: The URL of the image file that Mux should download and use as slate media during interruptions of the live stream media. This file will be downloaded each time a new recorded asset is created from the live stream. If this is not set, the default slate media will be used.
        passthrough:
          type: string
        audio_only:
          type: boolean
          description: Force the live stream to only process the audio track when the value is set to true. Mux drops the video track if broadcasted.
        embedded_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamEmbeddedSubtitleRequest'
          description: Describe the embedded closed caption contents of the incoming live stream.
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/LiveStreamGeneratedSubtitleRequest'
          description: Configure the incoming live stream to include subtitles created with automatic speech recognition. Each Asset created from a live stream with `generated_subtitles` configured will automatically receive two text tracks. The first of these will have a `text_source` value of `generated_live`, and will be available with `ready` status as soon as the stream is live. The second text track will have a `text_source` value of `generated_live_final` and will contain subtitles with improved accuracy, timing, and formatting. However, `generated_live_final` tracks will not be available in `ready` status until the live stream ends. If an Asset has both `generated_live` and `generated_live_final` tracks that are `ready`, then only the `generated_live_final` track will be included during playback.
        reduced_latency:
          type: boolean
          format: boolean
          deprecated: true
          x-mux-doc-decorators:
          - hidden
          description: 'This field is deprecated. Please use `latency_mode` instead. Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Set this if you want lower latency for your live stream. Read more here: https://mux.com/blog/reduced-latency-for-mux-live-streaming-now-available/'
        low_latency:
          type: boolean
          format: boolean
          deprecated: true
          x-mux-doc-decorators:
          - hidden
          description: This field is deprecated. Please use `latency_mode` instead. Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Setting this option will enable compatibility with the LL-HLS specification for low-latency streaming. This typically has lower latency than Reduced Latency streams, and cannot be combined with Reduced Latency.
        latency_mode:
          type: string
          enum:
          - low
          - reduced
          - standard
          description: Latency is the time from when the streamer transmits a frame of video to when you see it in the player. Set this as an alternative to setting low latency or reduced latency flags.
        test:
          type: boolean
          format: boolean
          description: Marks the live stream as a test live stream when the value is set to true. A test live stream can help evaluate the Mux Video APIs without incurring any cost. There is no limit on number of test live streams created. Test live streams are watermarked with the Mux logo and limited to 5 minutes. The test live stream is disabled after the stream is active for 5 mins and the recorded asset also deleted after 24 hours.
        simulcast_targets:
          type: array
          items:
            $ref: '#/components/schemas/CreateSimulcastTargetRequest'
        max_continuous_duration:
          $ref: '#/components/schemas/MaxContinuousDuration'
        meta:
          $ref: '#/components/schemas/LiveStreamMetadata'
    LiveStreamStatus:
      type: string
      enum:
      - active
      - idle
      - disabled
      description: '`idle` indicates that there is no active broadcast. `active` indicates that there is an active broadcast and `disabled` status indicates that no future RTMP streams can be published.'
    UpdateLiveStreamNewAssetSettingsStaticRenditionsRequest:
      type: object
      required:
      - static_renditions
      properties:
        static_renditions:
          type: array
          items:
            $ref: '#/components/schemas/CreateStaticRenditionRequest'
  parameters:
    limit:
      name: limit
      in: query
      description: Number of items to include in the response
      required: false
      schema:
        type: integer
        format: int32
        default: 25
    page:
      name: page
      in: query
      description: Offset by this many pages, of the size of `limit`
      required: false
      schema:
        type: integer
        format: int32
        default: 1
    playback_id:
      name: PLAYBACK_ID
      in: path
      description: The asset or live stream's playback ID.
      required: true
      schema:
        type: string
    stream_key:
      name: stream_key
      in: query
      description: Filter response to return live stream for this stream key only
      required: false
      schema:
        type: string
    simulcast_target_id:
      name: SIMULCAST_TARGET_ID
      in: path
      description: The ID of the simulcast target.
      required: true
      schema:
        type: string
    livestream_id:
      name: LIVE_STREAM_ID
      in: path
      description: The live stream ID
      required: true
      schema:
        type: string
  securitySchemes:
    accessToken:
      description: 'The Mux Video API uses an Access Token and Secret Key for authentication. If you haven''t already, [generate a new Access Token](https://dashboard.mux.com/settings/access-tokens) in the Access Token settings of your Mux account dashboard.


        Once you have an Access Token ID and Secret, you can then simply include those as the username (id) and password (secret) in the same way you use traditional basic auth.

        '
      scheme: basic
      type: http
    authorizationToken:
      description: 'OAuth authorization token, used as a Bearer Auth header

        '
      scheme: bearer
      type: http
x-tagGroups:
- name: Video
  tags:
  - Assets
  - Live Streams
  - Playback ID
  - URL Signing Keys
  - Direct Uploads
  - Delivery Usage
  - Playback Restrictions
  - DRM Configurations
  - Transcription Vocabularies
- name: Data
  tags:
  - Video Views
  - Errors
  - Filters
  - Exports
  - Metrics
  - Monitoring
  - Real-Time
  - Dimensions
  - Incidents
  - Annotations
  - View and Viewer Counts
- name: System
  tags:
  - Signing Keys
  - Utilities
- name: Robots
  tags:
  - Jobs
  - Ask Questions
  - Edit Captions
  - Find Key Moments
  - Generate Chapters
  - Moderate
  - Summarize
  - Translate Captions
- name: Playback
  tags:
  - Thumbnails
  - Animated Images
  - Storyboards
  - Streaming
  - Captions and Transcripts
