openapi: 3.2.0
info:
  title: Mux Com Assets API
  version: v1
  description: 'Operations tagged Assets across 2 of this provider''s published API definitions: mux-com-openapi.yml, mux-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mux.com
  description: Mux production API
- url: https://image.mux.com
- url: https://stream.mux.com
- url: https://stats.mux.com
tags:
- name: Assets
  description: Manage video on-demand assets.
paths:
  /video/v1/assets:
    get:
      tags:
      - Assets
      summary: List assets
      operationId: listAssets
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      responses:
        '200':
          description: List of assets.
      security:
      - basicAuth: []
    post:
      tags:
      - Assets
      summary: Create an asset
      operationId: createAsset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Asset created.
      security:
      - basicAuth: []
    servers:
    - url: https://api.mux.com
      description: Mux production API
  /video/v1/assets/{ASSET_ID}:
    parameters:
    - in: path
      name: ASSET_ID
      required: true
      schema:
        type: string
    get:
      tags:
      - Assets
      summary: Retrieve an asset
      operationId: getAsset
      responses:
        '200':
          description: Asset details.
      security:
      - basicAuth: []
    patch:
      tags:
      - Assets
      summary: Update an asset
      operationId: updateAsset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Asset updated.
      security:
      - basicAuth: []
    delete:
      tags:
      - Assets
      summary: Delete an asset
      operationId: deleteAsset
      responses:
        '204':
          description: Asset deleted.
      security:
      - basicAuth: []
    servers:
    - url: https://api.mux.com
      description: Mux production API
  /video/v1/assets/{ASSET_ID}/input-info:
    get:
      tags:
      - Assets
      summary: Retrieve Asset Input Info
      description: Returns a list of the input objects that were used to create the asset along with any settings that were applied to each input.
      operationId: get-asset-input-info
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetInputInfoResponse'
              example:
                data:
                - settings:
                    url: https://muxed.s3.amazonaws.com/leds.mp4
                  file:
                    container_format: mp4
                    tracks:
                    - type: video
                      duration: 120
                      width: 1280
                      height: 720
                      frame_rate: 30
                      encoding: h.264
                    - type: audio
                      duration: 120
                      sample_rate: 16000
                      sample_size: 24
                      encoding: aac
                - settings:
                    url: https://example.com/myVideo_en.srt
                  file:
                    container_format: srt
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/playback-ids:
    post:
      tags:
      - Assets
      summary: Create a Playback ID
      description: Creates a playback ID that can be used to stream the asset to a viewer.
      operationId: create-asset-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaybackIDRequest'
            example:
              policy: public
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlaybackIDResponse'
              example:
                data:
                  policy: public
                  id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/playback-ids/{PLAYBACK_ID}:
    get:
      tags:
      - Assets
      summary: Retrieve a Playback ID
      description: Retrieves information about the specified playback ID.
      operationId: get-asset-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/playback_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetPlaybackIDResponse'
              example:
                data:
                  policy: public
                  id: vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I
      security:
      - accessToken: []
      - authorizationToken: []
    delete:
      tags:
      - Assets
      summary: Delete a Playback ID
      description: Deletes a playback ID, rendering it nonfunctional for viewing an asset's video content. Please note that deleting the playback ID removes access to the underlying asset; a viewer who started playback before the playback ID was deleted may be able to watch the entire video for a limited duration.
      operationId: delete-asset-playback-id
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/playback_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/mp4-support:
    put:
      tags:
      - Assets
      summary: Update MP4 Support
      operationId: update-asset-mp4-support
      servers:
      - url: https://api.mux.com
      deprecated: true
      description: 'This method has been deprecated. Please see the [Static Rendition API](https://www.mux.com/docs/guides/enable-static-mp4-renditions#after-asset-creation).

        Allows you to add or remove mp4 support for assets that were created without it. The values supported are `capped-1080p`, `audio-only`, `audio-only,capped-1080p`, `standard`(deprecated),  and `none`. `none` means that an asset *does not* have mp4 support, so submitting a request with `mp4_support` set to `none` will delete the mp4 assets from the asset in question.

        '
      parameters:
      - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetMP4SupportRequest'
            example:
              mp4_support: capped-1080p
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
              example:
                data:
                  tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  static_renditions:
                    status: preparing
                  playback_ids:
                  - policy: public
                    id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
                  mp4_support: capped-1080p
                  max_stored_resolution: HD
                  resolution_tier: 1080p
                  max_stored_frame_rate: 29.97
                  master_access: none
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  encoding_tier: smart
                  video_quality: plus
                  duration: 23.857167
                  created_at: '1609868768'
                  aspect_ratio: '16:9'
                  max_resolution_tier: 1080p
                  progress:
                    state: completed
                    progress: 100
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/master-access:
    put:
      tags:
      - Assets
      summary: Update Master Access
      operationId: update-asset-master-access
      servers:
      - url: https://api.mux.com
      description: 'Allows you to add temporary access to the master (highest-quality) version of the asset in MP4 format. A URL will be created that can be used to download the master version for 24 hours. After 24 hours Master Access will revert to "none".

        This master version is not optimized for web and not meant to be streamed, only downloaded for purposes like archiving or editing the video offline.'
      parameters:
      - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetMasterAccessRequest'
            example:
              master_access: temporary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
              example:
                data:
                  tracks:
                  - type: video
                    max_width: 1920
                    max_height: 1080
                    max_frame_rate: 29.97
                    id: RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4
                    duration: 23.8238
                  - type: audio
                    max_channels: 2
                    id: LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg
                    duration: 23.823792
                  status: ready
                  playback_ids:
                  - policy: public
                    id: Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ
                  max_stored_resolution: HD
                  resolution_tier: 1080p
                  max_stored_frame_rate: 29.97
                  master_access: temporary
                  master:
                    status: preparing
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  encoding_tier: baseline
                  video_quality: basic
                  duration: 23.857167
                  created_at: '1609868768'
                  aspect_ratio: '16:9'
                  max_resolution_tier: 1080p
                  progress:
                    state: completed
                    progress: 100
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/static-renditions:
    post:
      tags:
      - Assets
      summary: Create a Static Rendition for an Asset
      description: Creates a static rendition (i.e. MP4) for an asset
      operationId: create-asset-static-rendition
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticRenditionRequest'
            example:
              resolution: highest
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStaticRenditionResponse'
              example:
                data:
                  id: lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68
                  type: standard
                  ext: mp4
                  status: preparing
                  resolution: highest
                  name: highest.mp4
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/static-renditions/{STATIC_RENDITION_ID}:
    delete:
      tags:
      - Assets
      summary: Delete a Single Static Rendition for an Asset
      description: Deletes a single static rendition for an asset
      operationId: delete-asset-static-rendition
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/static_rendition_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/tracks:
    post:
      tags:
      - Assets
      summary: Create an Asset Track
      description: Adds an asset track (for example, subtitles, or an alternate audio track) to an asset. Assets must be in the `ready` state before tracks can be added.
      operationId: create-asset-track
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackRequest'
            example:
              url: https://example.com/myVideo_en.srt
              type: text
              text_type: subtitles
              language_code: en-US
              name: English
              closed_captions: true
              passthrough: English
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTrackResponse'
              example:
                data:
                  type: text
                  text_type: subtitles
                  status: preparing
                  passthrough: English
                  name: English
                  language_code: en-US
                  id: xBe7u01029ipxBLQhYzZCJ1cke01zCkuUsgnYtH0017nNzbpv2YcsoMDmw
                  closed_captions: true
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}:
    delete:
      tags:
      - Assets
      summary: Delete an Asset Track
      description: Removes a text or additional audio track from an asset. Neither video nor the primary audio track can be removed.
      operationId: delete-asset-track
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/track_id'
      responses:
        '204':
          description: No Content
      security:
      - accessToken: []
      - authorizationToken: []
    patch:
      tags:
      - Assets
      summary: Update an Asset Track
      description: Updates the details of an existing Asset Track with the provided Asset ID and Track ID.
      operationId: update-asset-track
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/track_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetTrackRequest'
            example:
              language_code: en-US
              name: English
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAssetTrackResponse'
              example:
                data:
                  type: text
                  text_type: subtitles
                  status: ready
                  passthrough: passthrough value
                  name: English
                  language_code: en-US
                  id: xBe7u01029ipxBLQhYzZCJ1cke01zCkuUsgnYtH0017nNzbpv2YcsoMDmw
                  closed_captions: true
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
  /video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}/generate-subtitles:
    post:
      tags:
      - Assets
      summary: Generate Track Subtitles
      description: Generates subtitles (captions) for a given audio track. [See docs for more information.](https://mux.com/docs/guides/add-autogenerated-captions-and-use-transcripts#retroactively-enable-auto-generated-captions)
      operationId: generate-asset-track-subtitles
      servers:
      - url: https://api.mux.com
      parameters:
      - $ref: '#/components/parameters/asset_id'
      - $ref: '#/components/parameters/track_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateTrackSubtitlesRequest'
            example:
              generated_subtitles:
              - language_code: en
                name: English (generated)
                passthrough: English (generated)
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateTrackSubtitlesResponse'
              example:
                data:
                - type: text
                  text_type: subtitles
                  status: preparing
                  passthrough: English (generated)
                  name: English (generated)
                  language_code: en
                  id: hXhnqUq0054k9SBFB5aczHhj6xMbOTlriTG7gqRn8kikv101lkFUgKNw
      security:
      - accessToken: []
      - authorizationToken: []
    servers:
    - url: https://api.mux.com
      description: Mux Production API
    - url: https://image.mux.com
    - url: https://stream.mux.com
    - url: https://stats.mux.com
components:
  schemas:
    PlaybackID:
      type: object
      required:
      - id
      - policy
      properties:
        id:
          type: string
          description: Unique identifier for the PlaybackID
        policy:
          $ref: '#/components/schemas/PlaybackPolicy'
        drm_configuration_id:
          type: string
          description: The DRM configuration used by this playback ID. Must only be set when `policy` is set to `drm`.
    ListAssetsResponse:
      type: object
      required:
      - data
      - next_cursor
      properties:
        next_cursor:
          type: string
          description: If there are more pages of data, this field will contain a string that can be used with the `cursor` querystring parameter to fetch the next page of data.
          nullable: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
    UpdateAssetTrackResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Track'
    GetAssetInputInfoResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InputInfo'
    AssetMetadata:
      type: object
      description: 'Customer provided metadata about this asset.


        Note: This metadata may be publicly available via the video player. Do not include PII or sensitive information.

        '
      properties:
        title:
          type: string
          maxLength: 512
          description: The asset title. Max 512 code points.
        creator_id:
          type: string
          maxLength: 128
          description: This is an identifier you provide to keep track of the creator of the asset. Max 128 code points.
        external_id:
          type: string
          maxLength: 128
          description: This is an identifier you provide to link the asset to your own data. Max 128 code points.
    CreateAssetRequest:
      allOf:
      - $ref: '#/components/schemas/AssetOptions'
      - required:
        - inputs
    AssetResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Asset'
    CreateStaticRenditionRequest:
      type: object
      required:
      - resolution
      properties:
        resolution:
          type: string
          enum:
          - highest
          - audio-only
          - 2160p
          - 1440p
          - 1080p
          - 720p
          - 540p
          - 480p
          - 360p
          - 270p
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the static rendition. Max 255 characters.
    AssetGeneratedSubtitleSettings:
      type: object
      properties:
        name:
          type: string
          description: A name for this subtitle track.
        passthrough:
          type: string
          description: Arbitrary metadata set for the subtitle track. Max 255 characters.
        language_code:
          type: string
          description: The language of the audio from which subtitles are generated. Selecting a language of "auto" will allow language detection to set the language code automatically.
          default: en
          enum:
          - en
          - es
          - it
          - pt
          - de
          - fr
          - pl
          - ru
          - nl
          - ca
          - tr
          - sv
          - uk
          - 'no'
          - fi
          - sk
          - el
          - cs
          - hr
          - da
          - ro
          - bg
          - auto
    StaticRendition:
      type: object
      properties:
        name:
          type: string
          enum:
          - low.mp4
          - medium.mp4
          - high.mp4
          - highest.mp4
          - audio.m4a
          - capped-1080p.mp4
          - 2160p.mp4
          - 1440p.mp4
          - 1080p.mp4
          - 720p.mp4
          - 540p.mp4
          - 480p.mp4
          - 360p.mp4
          - 270p.mp4
          description: Name of the static rendition file
        ext:
          type: string
          description: Extension of the static rendition file
          enum:
          - mp4
          - m4a
        height:
          type: integer
          format: int32
          description: The height of the static rendition's file in pixels
        width:
          type: integer
          format: int32
          description: The width of the static rendition's file in pixels
        bitrate:
          type: integer
          format: int64
          description: The bitrate in bits per second
        filesize:
          type: string
          format: int64
          description: The file size in bytes
        type:
          type: string
          description: Indicates the static rendition type of this specific MP4 version of this asset. This field is only valid for `static_renditions`, not for `mp4_support`.
          enum:
          - standard
          - advanced
        status:
          type: string
          description: 'Indicates the status of this specific MP4 version of this asset. This field is only valid for `static_renditions`, not for `mp4_support`.

            * `ready` indicates the MP4 has been generated and is ready for download

            * `preparing` indicates the asset has not been ingested or the static rendition is still being generated after an asset is ready

            * `skipped` indicates the static rendition will not be generated because the requested resolution conflicts with the asset attributes after the asset has been ingested

            * `errored` indicates the static rendition cannot be generated. For example, an asset could not be ingested

            '
          enum:
          - ready
          - preparing
          - skipped
          - errored
        resolution_tier:
          type: string
          description: Indicates the resolution tier of this specific MP4 version of this asset. This field is only valid for `static_renditions`, not for `mp4_support`.
          enum:
          - 2160p
          - 1440p
          - 1080p
          - 720p
          - audio-only
        resolution:
          type: string
          description: Indicates the resolution of this specific MP4 version of this asset. This field is only valid for `static_renditions`, not for `mp4_support`.
          enum:
          - highest
          - audio-only
          - 2160p
          - 1440p
          - 1080p
          - 720p
          - 540p
          - 480p
          - 360p
          - 270p
          x-mux-doc-decorators-hidden-enum-values:
          - 2160p
          - 1440p
          - 1080p
          - 720p
          - 540p
          - 480p
          - 360p
          - 270p
        id:
          type: string
          description: The ID of this static rendition, used in managing this static rendition. This field is only valid for `static_renditions`, not for `mp4_support`.
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the static rendition. Max 255 characters.
    CreatePlaybackIDRequest:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/PlaybackPolicy'
        drm_configuration_id:
          type: string
          description: The DRM configuration used by this playback ID. Must only be set when `policy` is set to `drm`.
    Track:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Track
        type:
          type: string
          description: The type of track
          enum:
          - video
          - audio
          - text
        duration:
          type: number
          format: double
          description: The duration in seconds of the track media. This parameter is not set for `text` type tracks. This field is optional and may not be set. The top level `duration` field of an asset will always be set.
        max_width:
          type: integer
          format: int64
          description: The maximum width in pixels available for the track. Only set for the `video` type track.
        max_height:
          type: integer
          format: int64
          description: The maximum height in pixels available for the track. Only set for the `video` type track.
        max_frame_rate:
          type: number
          format: double
          description: The maximum frame rate available for the track. Only set for the `video` type track. This field may return `-1` if the frame rate of the input cannot be reliably determined.
        max_channels:
          type: integer
          format: int64
          description: The maximum number of audio channels the track supports. Only set for the `audio` type track.
        max_channel_layout:
          type: string
          description: Only set for the `audio` type track.
          deprecated: true
        text_type:
          type: string
          enum:
          - subtitles
          description: This parameter is only set for `text` type tracks.
        text_source:
          type: string
          description: 'The source of the text contained in a Track of type `text`. Valid `text_source`

            values are listed below.

            * `uploaded`: Tracks uploaded to Mux as caption or subtitle files using the Create Asset Track API.

            * `embedded`: Tracks extracted from an embedded stream of CEA-608 closed captions.

            * `generated_vod`: Tracks generated by automatic speech recognition on an on-demand asset.

            * `generated_live`: Tracks generated by automatic speech recognition on a live stream configured with `generated_subtitles`. If an Asset has both `generated_live` and `generated_live_final` tracks that are `ready`, then only the `generated_live_final` track will be included during playback.

            * `generated_live_final`: Tracks generated by automatic speech recognition on a live stream using `generated_subtitles`. The accuracy, timing, and formatting of these subtitles is improved compared to the corresponding `generated_live` tracks. However, `generated_live_final` tracks will not be available in `ready` status until the live stream ends. If an Asset has both `generated_live` and `generated_live_final` tracks that are `ready`, then only the `generated_live_final` track will be included during playback.

            '
          enum:
          - uploaded
          - embedded
          - generated_live
          - generated_live_final
          - generated_vod
        language_code:
          type: string
          description: The language code value represents [BCP 47](https://tools.ietf.org/html/bcp47) specification compliant value, or 'auto'. For example, `en` for English or `en-US` for the US version of English. This parameter is only set for `text` and `audio` track types. During automatic language detection for generated subtitles, this value will be set to `auto` until the language is determined.
        name:
          type: string
          description: The name of the track containing a human-readable description. The HLS manifest will associate a subtitle `text` or `audio` track with this value. For example, the value should be "English" for a subtitle text track for the `language_code` value of `en-US`. This parameter is only set for `text` and `audio` track types.
        closed_captions:
          type: boolean
          description: Indicates the track provides Subtitles for the Deaf or Hard-of-hearing (SDH). This parameter is only set tracks where `type` is `text` and `text_type` is `subtitles`.
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the track either when creating the asset or track. This parameter is only set for `text` type tracks. Max 255 characters.
        status:
          type: string
          enum:
          - preparing
          - ready
          - errored
          - deleted
          description: The status of the track. This parameter is only set for `text` type tracks.
        primary:
          type: boolean
          description: For an audio track, indicates that this is the primary audio track, ingested from the main input for this asset. The primary audio track cannot be deleted.
        auto_language_confidence:
          type: number
          format: double
          description: The confidence value (0-1) of the determined language. This value only is available when automatic language detection is utilized in generated subtitles.
    CreateTrackResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Track'
    PlaybackPolicy:
      type: string
      enum:
      - public
      - signed
      - drm
      description: '* `public` playback IDs are accessible by constructing an HLS URL like `https://stream.mux.com/${PLAYBACK_ID}`


        * `signed` playback IDs should be used with tokens `https://stream.mux.com/${PLAYBACK_ID}?token={TOKEN}`. See [Secure video playback](https://docs.mux.com/guides/secure-video-playback) for details about creating tokens.


        * `drm` playback IDs are protected with DRM technologies. [See DRM documentation for more details](https://docs.mux.com/guides/protect-videos-with-drm).

        '
    UpdateAssetMasterAccessRequest:
      type: object
      required:
      - master_access
      properties:
        master_access:
          type: string
          description: Add or remove access to the master version of the video.
          enum:
          - temporary
          - none
    Asset:
      type: object
      required:
      - id
      - created_at
      - status
      - max_resolution_tier
      - encoding_tier
      - master_access
      - progress
      properties:
        id:
          type: string
          description: Unique identifier for the Asset. Max 255 characters.
        created_at:
          type: string
          format: int64
          description: Time the Asset was created, defined as a Unix timestamp (seconds since epoch).
        status:
          type: string
          enum:
          - preparing
          - ready
          - errored
          description: The status of the asset.
        duration:
          type: number
          format: double
          description: The duration of the asset in seconds (max duration for a single asset is 12 hours).
        max_stored_resolution:
          type: string
          enum:
          - Audio only
          - SD
          - HD
          - FHD
          - UHD
          description: This field is deprecated. Please use `resolution_tier` instead. The maximum resolution that has been stored for the asset. The asset may be delivered at lower resolutions depending on the device and bandwidth, however it cannot be delivered at a higher value than is stored.
          deprecated: true
        resolution_tier:
          type: string
          enum:
          - audio-only
          - 720p
          - 1080p
          - 1440p
          - 2160p
          description: The resolution tier that the asset was ingested at, affecting billing for ingest & storage. This field also represents the highest resolution tier that the content can be delivered at, however the actual resolution may be lower depending on the device, bandwidth, and exact resolution of the uploaded asset.
        max_resolution_tier:
          type: string
          enum:
          - 1080p
          - 1440p
          - 2160p
          description: Max resolution tier can be used to control the maximum `resolution_tier` your asset is encoded, stored, and streamed at. If not set, this defaults to `1080p`.
        encoding_tier:
          type: string
          deprecated: true
          enum:
          - smart
          - baseline
          - premium
          description: This field is deprecated. Please use `video_quality` instead. The encoding tier informs the cost, quality, and available platform features for the asset. The default encoding tier for an account can be set in the Mux Dashboard. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        video_quality:
          type: string
          enum:
          - basic
          - plus
          - premium
          description: The video quality controls the cost, quality, and available platform features for the asset. The default video quality for an account can be set in the Mux Dashboard. This field replaces the deprecated `encoding_tier` value. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        max_stored_frame_rate:
          type: number
          format: double
          description: The maximum frame rate that has been stored for the asset. The asset may be delivered at lower frame rates depending on the device and bandwidth, however it cannot be delivered at a higher value than is stored. This field may return -1 if the frame rate of the input cannot be reliably determined.
        aspect_ratio:
          type: string
          description: The aspect ratio of the asset in the form of `width:height`, for example `16:9`.
        playback_ids:
          type: array
          description: An array of Playback ID objects. Use these to create HLS playback URLs. See [Play your videos](https://docs.mux.com/guides/play-your-videos) for more details.
          items:
            $ref: '#/components/schemas/PlaybackID'
        tracks:
          type: array
          description: The individual media tracks that make up an asset.
          items:
            $ref: '#/components/schemas/Track'
        errors:
          type: object
          description: Object that describes any errors that happened when processing this asset.
          properties:
            type:
              type: string
              description: The type of error that occurred for this asset.
            messages:
              type: array
              description: Error messages with more details.
              items:
                type: string
        per_title_encode:
          type: boolean
          format: boolean
          x-mux-doc-decorators:
          - hidden
          deprecated: true
        upload_id:
          type: string
          description: Unique identifier for the Direct Upload. This is an optional parameter added when the asset is created from a direct upload.
        is_live:
          type: boolean
          format: boolean
          description: Indicates whether the live stream that created this asset is currently `active` and not in `idle` state. This is an optional parameter added when the asset is created from a live stream.
        passthrough:
          type: string
          description: 'You can set this field to anything you want. It will be included in the asset details and related webhooks. If you''re looking for more structured metadata, such as `title` or `external_id` , you can use the `meta` object instead. **Max: 255 characters**.'
        live_stream_id:
          type: string
          description: Unique identifier for the live stream. This is an optional parameter added when the asset is created from a live stream.
        master:
          type: object
          description: An object containing the current status of Master Access and the link to the Master MP4 file when ready. This object does not exist if `master_access` is set to `none` and when the temporary URL expires.
          properties:
            status:
              enum:
              - ready
              - preparing
              - errored
              type: string
            url:
              type: string
              description: The temporary URL to the master version of the video, as an MP4 file. This URL will expire after 24 hours.
        master_access:
          type: string
          enum:
          - temporary
          - none
          default: none
        mp4_support:
          type: string
          deprecated: true
          default: none
          enum:
          - standard
          - none
          - capped-1080p
          - audio-only
          - audio-only,capped-1080p
          x-mux-doc-decorators-deprecated-enum-values:
          - standard
        source_asset_id:
          type: string
          description: Asset Identifier of the video used as the source for creating the clip.
        normalize_audio:
          type: boolean
          default: false
          description: Normalize the audio track loudness level. This parameter is only applicable to on-demand (not live) assets.
        static_renditions:
          type: object
          description: An object containing the current status of any static renditions (mp4s). The object does not exist if no static renditions have been requested. See [Download your videos](https://docs.mux.com/guides/enable-static-mp4-renditions) for more information.
          properties:
            status:
              type: string
              default: disabled
              description: Indicates the status of downloadable MP4 versions of this asset. This field is only valid when `mp4_support` is enabled
              enum:
              - ready
              - preparing
              - disabled
              - errored
            files:
              type: array
              description: Array of file objects.
              items:
                $ref: '#/components/schemas/StaticRendition'
        recording_times:
          type: array
          description: An array of individual live stream recording sessions. A recording session is created on each encoder connection during the live stream. Additionally any time slate media is inserted during brief interruptions in the live stream media or times when the live streaming software disconnects, a recording session representing the slate media will be added with a "slate" type.
          items:
            type: object
            properties:
              started_at:
                type: string
                format: date-time
                description: The time at which the recording for the live stream started. The time value is Unix epoch time represented in ISO 8601 format.
              duration:
                type: number
                format: double
                description: The duration of the live stream recorded. The time value is in seconds.
              type:
                type: string
                enum:
                - content
                - slate
                description: The type of media represented by the recording session, either `content` for normal stream content or `slate` for slate media inserted during stream interruptions.
        non_standard_input_reasons:
          type: object
          description: An object containing one or more reasons the input file is non-standard. See [the guide on minimizing processing time](https://docs.mux.com/guides/minimize-processing-time) for more information on what a standard input is defined as. This object only exists on on-demand assets that have non-standard inputs, so if missing you can assume the input qualifies as standard.
          properties:
            video_codec:
              type: string
              description: The video codec used on the input file. For example, the input file encoded with `av1` video codec is non-standard and the value of this parameter is `av1`.
            audio_codec:
              type: string
              description: The audio codec used on the input file. Non-AAC audio codecs are non-standard.
            video_gop_size:
              type: string
              enum:
              - high
              description: The video key frame Interval (also called as Group of Picture or GOP) of the input file is `high`. This parameter is present when the gop is greater than 20 seconds.
            video_frame_rate:
              type: string
              description: The video frame rate of the input file. Video with average frames per second (fps) less than 5 or greater than 120 is non-standard. A `-1` frame rate value indicates Mux could not determine the frame rate of the video track.
            video_resolution:
              type: string
              description: The video resolution of the input file. Video resolution higher than 2048 pixels on any one dimension (height or width) is considered non-standard, The resolution value is presented as `width` x `height` in pixels.
            video_bitrate:
              type: string
              enum:
              - high
              description: The video bitrate of the input file is `high`. This parameter is present when the average bitrate of any key frame interval (also known as Group of Pictures or GOP) is higher than what's considered standard which typically is 16 Mbps.
            pixel_aspect_ratio:
              type: string
              description: The video pixel aspect ratio of the input file.
            video_edit_list:
              type: string
              enum:
              - non-standard
              description: Video Edit List reason indicates that the input file's video track contains a complex Edit Decision List.
            audio_edit_list:
              type: string
              enum:
              - non-standard
              description: Audio Edit List reason indicates that the input file's audio track contains a complex Edit Decision List.
            unexpected_media_file_parameters:
              type: string
              enum:
              - non-standard
              description: A catch-all reason when the input file in created with non-standard encoding parameters.
            unsupported_pixel_format:
              type: string
              description: The video pixel format, as a string, returned by libav. Considered non-standard if not one of yuv420p or yuvj420p. HEVC inputs additionally permit yuv420p10le.
        test:
          type: boolean
          format: boolean
          description: True means this live stream is a test asset. A test asset can help evaluate the Mux Video APIs without incurring any cost. There is no limit on number of test assets created. Test assets are watermarked with the Mux logo, limited to 10 seconds, and deleted after 24 hrs.
        ingest_type:
          type: string
          enum:
          - on_demand_url
          - on_demand_direct_upload
          - on_demand_clip
          - live_rtmp
          - live_srt
          description: The type of ingest used to create the asset.
        meta:
          $ref: '#/components/schemas/AssetMetadata'
        progress:
          $ref: '#/components/schemas/AssetProgress'
    InputInfo:
      type: object
      properties:
        settings:
          $ref: '#/components/schemas/InputSettings'
        file:
          $ref: '#/components/schemas/InputFile'
    CreatePlaybackIDResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/PlaybackID'
    UpdateAssetRequest:
      type: object
      properties:
        passthrough:
          type: string
          description: 'You can set this field to anything you want. It will be included in the asset details and related webhooks. If you''re looking for more structured metadata, such as `title` or `external_id` , you can use the `meta` object instead. **Max: 255 characters**. In order to clear this value, the field should be included with an empty string value.'
        meta:
          $ref: '#/components/schemas/AssetMetadata'
    UpdateAssetTrackRequest:
      type: object
      properties:
        language_code:
          type: string
          description: The language code of this track. The value must be a valid BCP 47 specification compliant value. For example, en for English or en-US for the US version of English.
        name:
          type: string
          description: The name of the track containing a human-readable description. This value must be unique within each group of `text` or `audio` track types. The HLS manifest will associate the `text` or `audio` track with this value. For example, set the value to "English" for subtitles text track with `language_code` as en-US. If this parameter is not included, Mux will auto-populate a value based on the `language_code` value.
        closed_captions:
          type: boolean
          description: Indicates the track provides Subtitles for the Deaf or Hard-of-hearing (SDH).
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the track either when creating the asset or track.
    UpdateAssetMP4SupportRequest:
      type: object
      deprecated: true
      required:
      - mp4_support
      properties:
        mp4_support:
          type: string
          description: 'Specify what level of support for mp4 playback.


            * The `capped-1080p` option produces a single MP4 file, called `capped-1080p.mp4`, with the video resolution capped at 1080p. This option produces an `audio.m4a` file for an audio-only asset.

            * The `audio-only` option produces a single M4A file, called `audio.m4a` for a video or an audio-only asset. MP4 generation will error when this option is specified for a video-only asset.

            * The `audio-only,capped-1080p` option produces both the `audio.m4a` and `capped-1080p.mp4` files. Only the `capped-1080p.mp4` file is produced for a video-only asset, while only the `audio.m4a` file is produced for an audio-only asset.


            The `standard`(deprecated) option produces up to three MP4 files with different levels of resolution (`high.mp4`, `medium.mp4`, `low.mp4`, or `audio.m4a` for an audio-only asset).


            `none` will delete the MP4s from the asset in question.

            '
          enum:
          - standard
          - none
          - capped-1080p
          - audio-only
          - audio-only,capped-1080p
          x-mux-doc-decorators-deprecated-enum-values:
          - standard
    GenerateTrackSubtitlesResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Track'
    InputFile:
      type: object
      properties:
        container_format:
          type: string
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/InputTrack'
    CreateStaticRenditionResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/StaticRendition'
    InputSettings:
      type: object
      description: An array of objects that each describe an input file to be used to create the asset. As a shortcut, `input` can also be a string URL for a file when only one input file is used. See `input[].url` for requirements.
      properties:
        url:
          type: string
          description: 'The URL of the file that Mux should download and use.

            * For the main input file, this should be the URL to the muxed file for Mux to download, for example an MP4, MOV, MKV, or TS file. Mux supports most audio/video file formats and codecs, but for fastest processing, you should [use standard inputs wherever possible](https://docs.mux.com/guides/minimize-processing-time).

            * For `audio` tracks, the URL is the location of the audio file for Mux to download, for example an M4A, WAV, or MP3 file. Mux supports most audio file formats and codecs, but for fastest processing, you should [use standard inputs wherever possible](https://docs.mux.com/guides/minimize-processing-time).

            * For `text` tracks, the URL is the location of subtitle/captions file. Mux supports [SubRip Text (SRT)](https://en.wikipedia.org/wiki/SubRip) and [Web Video Text Tracks](https://www.w3.org/TR/webvtt1/) formats for ingesting Subtitles and Closed Captions.

            * For Watermarking or Overlay, the URL is the location of the watermark image. The maximum size is 4096x4096.

            * When creating clips from existing Mux assets, the URL is defined with `mux://assets/{asset_id}` template where `asset_id` is the Asset Identifier for creating the clip from.

            The url property may be omitted on the first input object when providing asset settings for LiveStream and Upload objects, in order to configure settings related to the primary (live stream or direct upload) input.

            '
        overlay_settings:
          type: object
          description: An object that describes how the image file referenced in URL should be placed over the video (i.e. watermarking). Ensure that the URL is active and persists the entire lifespan of the video object.
          properties:
            vertical_align:
              type: string
              enum:
              - top
              - middle
              - bottom
              description: Where the vertical positioning of the overlay/watermark should begin from. Defaults to `"top"`
            vertical_margin:
              type: string
              description: The distance from the vertical_align starting point and the image's closest edge. Can be expressed as a percent ("10%") or as a pixel value ("100px"). Negative values will move the overlay offscreen. In the case of 'middle', a positive value will shift the overlay towards the bottom and and a negative value will shift it towards the top.
            horizontal_align:
              type: string
              enum:
              - left
              - center
              - right
              description: Where the horizontal positioning of the overlay/watermark should begin from.
            horizontal_margin:
              type: string
              description: The distance from the horizontal_align starting point and the image's closest edge. Can be expressed as a percent ("10%") or as a pixel value ("100px"). Negative values will move the overlay offscreen. In the case of 'center', a positive value will shift the image towards the right and and a negative value will shift it towards the left.
            width:
              type: string
              description: How wide the overlay should appear. Can be expressed as a percent ("10%") or as a pixel value ("100px"). If both width and height are left blank the width will be the true pixels of the image, applied as if the video has been scaled to fit a 1920x1080 frame. If height is supplied with no width, the width will scale proportionally to the height.
            height:
              type: string
              description: How tall the overlay should appear. Can be expressed as a percent ("10%") or as a pixel value ("100px"). If both width and height are left blank the height will be the true pixels of the image, applied as if the video has been scaled to fit a 1920x1080 frame. If width is supplied with no height, the height will scale proportionally to the width.
            opacity:
              type: string
              description: How opaque the overlay should appear, expressed as a percent. (Default 100%)
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/AssetGeneratedSubtitleSettings'
          description: Generate subtitle tracks using automatic speech recognition with this configuration. Subtitles are generated using the audio of the input they are nested within. For direct uploads, this first input should omit the url parameter, as the main input file is provided via the direct upload. Note that subtitle generation happens after initial ingest, so the generated tracks will be in the `preparing` state when the asset transitions to `ready`.
        start_time:
          type: number
          format: double
          description: The time offset in seconds from the beginning of the video indicating the clip's starting marker. The default value is 0 when not included. This parameter is only applicable for creating clips when `input.url` has `mux://assets/{asset_id}` format.
        end_time:
          type: number
          format: double
          description: The time offset in seconds from the beginning of the video, indicating the clip's ending marker. The default value is the duration of the video when not included. This parameter is only applicable for creating clips when `input.url` has `mux://assets/{asset_id}` format.
        type:
          type: string
          enum:
          - video
          - audio
          - text
          description: This parameter is required for `text` type tracks.
        text_type:
          type: string
          enum:
          - subtitles
          description: Type of text track. This parameter only supports subtitles value. For more information on Subtitles / Closed Captions, [see this blog post](https://mux.com/blog/subtitles-captions-webvtt-hls-and-those-magic-flags/). This parameter is required for `text` type tracks.
        language_code:
          type: string
          description: The language code value must be a valid [BCP 47](https://tools.ietf.org/html/bcp47) specification compliant value. For example, `en` for English or `en-US` for the US version of English. This parameter is required for `text` and `audio` track types.
        name:
          type: string
          description: The name of the track containing a human-readable description. This value must be unique within each group of `text` or `audio` track types. The HLS manifest will associate a subtitle text track with this value. For example, the value should be "English" for a subtitle text track with `language_code` set to `en`. This optional parameter should be used only for `text` and `audio` type tracks. This parameter can be optionally provided for the first video input to denote the name of the muxed audio track if present. If this parameter is not included, Mux will auto-populate based on the `input[].language_code` value.
        closed_captions:
          type: boolean
          description: Indicates the track provides Subtitles for the Deaf or Hard-of-hearing (SDH). This optional parameter should be used for tracks with `type` of `text` and `text_type` set to `subtitles`.
        passthrough:
          type: string
          description: This optional parameter should be used for tracks with `type` of `text` and `text_type` set to `subtitles`.
    AssetProgress:
      type: object
      description: Detailed state information about the asset ingest process.
      properties:
        state:
          type: string
          enum:
          - ingesting
          - transcoding
          - completed
          - live
          - errored
          description: 'The detailed state of the asset ingest process. This field is useful for relaying more granular processing information to end users when a [non-standard input is encountered](https://www.mux.com/docs/guides/minimize-processing-time#non-standard-input).


            - `ingesting`: Asset is being ingested (initial processing before or after transcoding). While in this state, the `progress` percentage will be 0.

            - `transcoding`: Asset is undergoing non-standard transcoding.

            - `completed`: Asset processing is complete (`status` is `ready`). While in this state, the `progress` percentage will be 100.

            - `live`: Asset is a live stream currently in progress. While in this state, the `progress` percentage will be -1.

            - `errored`: Asset has encountered an error (`status` is `errored`). While in this state, the `progress` percentage will be -1.

            '
        progress:
          type: number
          format: double
          minimum: -1
          maximum: 100
          description: Represents the estimated completion percentage. Returns `0 - 100` when in `ingesting`, `transcoding`, or `completed` state, and `-1` when in `live` or `errored` state.
      required:
      - state
      - progress
    InputTrack:
      type: object
      required:
      - type
      properties:
        type:
          type: string
        duration:
          type: number
          format: double
        encoding:
          type: string
        width:
          type: integer
          format: int64
        height:
          type: integer
          format: int64
        frame_rate:
          type: number
          format: double
        sample_rate:
          type: integer
          format: int64
        sample_size:
          type: integer
          format: int64
        channels:
          type: integer
          format: int64
    AssetOptions:
      type: object
      properties:
        input:
          type: array
          description: Deprecated. Use `inputs` instead, which accepts an identical type.
          deprecated: true
          x-mux-doc-decorators-hidden-children: all
          items:
            $ref: '#/components/schemas/InputSettings'
        inputs:
          type: array
          description: An array of objects that each describe an input file to be used to create the asset. As a shortcut, input can also be a string URL for a file when only one input file is used. See `input[].url` for requirements.
          items:
            $ref: '#/components/schemas/InputSettings'
        playback_policy:
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
          deprecated: true
          description: Deprecated. Use `playback_policies` instead, which accepts an identical type.
          x-mux-doc-decorators-hidden-children: all
        playback_policies:
          type: array
          items:
            $ref: '#/components/schemas/PlaybackPolicy'
          description: 'An array of playback policy names that you want applied to this asset and available through `playback_ids`. Options include:


            * `"public"` (anyone with the playback URL can stream the asset).

            * `"signed"` (an additional access token is required to play the asset).


            If no `playback_policies` are set, the asset will have no playback IDs and will therefore not be playable. For simplicity, a single string name can be used in place of the array in the case of only one playback policy.

            '
        advanced_playback_policies:
          type: array
          items:
            $ref: '#/components/schemas/CreatePlaybackIDRequest'
          description: 'An array of playback policy objects that you want applied to this asset and available through `playback_ids`. `advanced_playback_policies` must be used instead of `playback_policies` when creating a DRM playback ID.

            '
        per_title_encode:
          type: boolean
          format: boolean
          x-mux-doc-decorators:
          - hidden
          deprecated: true
        passthrough:
          type: string
          description: 'You can set this field to anything you want. It will be included in the asset details and related webhooks. If you''re looking for more structured metadata, such as `title` or `external_id`, you can use the `meta` object instead. **Max: 255 characters**.'
        mp4_support:
          type: string
          deprecated: true
          enum:
          - none
          - standard
          - capped-1080p
          - audio-only
          - audio-only,capped-1080p
          description: 'Deprecated. See the [Static Renditions API](https://www.mux.com/docs/guides/enable-static-mp4-renditions) for the updated API.


            Specify what level of support for mp4 playback. You may not enable both `mp4_support` and  `static_renditions`.


            * The `capped-1080p` option produces a single MP4 file, called `capped-1080p.mp4`, with the video resolution capped at 1080p. This option produces an `audio.m4a` file for an audio-only asset.

            * The `audio-only` option produces a single M4A file, called `audio.m4a` for a video or an audio-only asset. MP4 generation will error when this option is specified for a video-only asset.

            * The `audio-only,capped-1080p` option produces both the `audio.m4a` and `capped-1080p.mp4` files. Only the `capped-1080p.mp4` file is produced for a video-only asset, while only the `audio.m4a` file is produced for an audio-only asset.


            The `standard`(deprecated) option produces up to three MP4 files with different levels of resolution (`high.mp4`, `medium.mp4`, `low.mp4`, or `audio.m4a` for an audio-only asset).


            MP4 files are not produced for `none` (default).


            In most cases you should use our default HLS-based streaming playback (`{playback_id}.m3u8`) which can automatically adjust to viewers'' connection speeds, but an mp4 can be useful for some legacy devices or downloading for offline playback. See the [Download your videos guide](https://docs.mux.com/guides/enable-static-mp4-renditions) for more information.

            '
          x-mux-doc-decorators-deprecated-enum-values:
          - standard
        normalize_audio:
          type: boolean
          format: boolean
          description: Normalize the audio track loudness level. This parameter is only applicable to on-demand (not live) assets.
          default: false
        master_access:
          type: string
          enum:
          - none
          - temporary
          description: Specify what level (if any) of support for master access. Master access can be enabled temporarily for your asset to be downloaded. See the [Download your videos guide](https://docs.mux.com/guides/enable-static-mp4-renditions) for more information.
        test:
          type: boolean
          format: boolean
          description: Marks the asset as a test asset when the value is set to true. A Test asset can help evaluate the Mux Video APIs without incurring any cost. There is no limit on number of test assets created. Test asset are watermarked with the Mux logo, limited to 10 seconds, deleted after 24 hrs.
        max_resolution_tier:
          type: string
          enum:
          - 1080p
          - 1440p
          - 2160p
          description: Max resolution tier can be used to control the maximum `resolution_tier` your asset is encoded, stored, and streamed at. If not set, this defaults to `1080p`.
        encoding_tier:
          type: string
          deprecated: true
          enum:
          - smart
          - baseline
          - premium
          description: This field is deprecated. Please use `video_quality` instead. The encoding tier informs the cost, quality, and available platform features for the asset. The default encoding tier for an account can be set in the Mux Dashboard. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        video_quality:
          type: string
          enum:
          - basic
          - plus
          - premium
          description: The video quality controls the cost, quality, and available platform features for the asset. The default video quality for an account can be set in the Mux Dashboard. This field replaces the deprecated `encoding_tier` value. [See the video quality guide for more details.](https://docs.mux.com/guides/use-video-quality-levels)
        static_renditions:
          type: array
          items:
            $ref: '#/components/schemas/CreateStaticRenditionRequest'
          description: An array of static renditions to create for this asset. You may not enable both `static_renditions` and `mp4_support (the latter being deprecated)`
        meta:
          $ref: '#/components/schemas/AssetMetadata'
        copy_overlays:
          type: boolean
          default: true
          description: If the created asset is a clip, this controls whether overlays are copied from the source asset.
    CreateTrackRequest:
      type: object
      required:
      - url
      - type
      - language_code
      properties:
        url:
          type: string
          description: 'The URL of the file that Mux should download and use.

            * For `audio` tracks, the URL is the location of the audio file for Mux to download, for example an M4A, WAV, or MP3 file. Mux supports most audio file formats and codecs, but for fastest processing, you should [use standard inputs wherever possible](https://docs.mux.com/guides/minimize-processing-time).

            * For `text` tracks, the URL is the location of subtitle/captions file. Mux supports [SubRip Text (SRT)](https://en.wikipedia.org/wiki/SubRip) and [Web Video Text Tracks](https://www.w3.org/TR/webvtt1/) formats for ingesting Subtitles and Closed Captions.

            '
        type:
          type: string
          enum:
          - text
          - audio
        text_type:
          type: string
          enum:
          - subtitles
        language_code:
          type: string
          description: The language code of this track. The value must be a valid BCP 47 specification compliant value. For example, en for English or en-US for the US version of English.
        name:
          type: string
          description: The name of the track containing a human-readable description. This value must be unique within each group of `text` or `audio` track types. The HLS manifest will associate the `text` or `audio` track with this value. For example, set the value to "English" for subtitles text track with `language_code` as en-US. If this parameter is not included, Mux will auto-populate a value based on the `language_code` value.
        closed_captions:
          type: boolean
          description: Indicates the track provides Subtitles for the Deaf or Hard-of-hearing (SDH).
        passthrough:
          type: string
          description: Arbitrary user-supplied metadata set for the track either when creating the asset or track.
    GetAssetPlaybackIDResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/PlaybackID'
    GenerateTrackSubtitlesRequest:
      type: object
      required:
      - generated_subtitles
      properties:
        generated_subtitles:
          type: array
          items:
            $ref: '#/components/schemas/AssetGeneratedSubtitleSettings'
          description: Generate subtitle tracks using automatic speech recognition with this configuration.
  parameters:
    cursor:
      name: cursor
      in: query
      description: This parameter is used to request pages beyond the first. You can find the cursor value in the `next_cursor` field of paginated responses.
      required: false
      schema:
        type: string
    page:
      name: page
      in: query
      description: Offset by this many pages, of the size of `limit`
      required: false
      schema:
        type: integer
        format: int32
        default: 1
    playback_id:
      name: PLAYBACK_ID
      in: path
      description: The asset or live stream's playback ID.
      required: true
      schema:
        type: string
    static_rendition_id:
      name: STATIC_RENDITION_ID
      in: path
      description: The static rendition ID.
      required: true
      schema:
        type: string
    asset_id:
      name: ASSET_ID
      in: path
      description: The asset ID.
      required: true
      schema:
        type: string
    list_asset_live_stream_id:
      name: live_stream_id
      in: query
      description: Filter response to return all the assets for this live stream only
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Number of items to include in the response
      required: false
      schema:
        type: integer
        format: int32
        default: 25
    list_asset_upload_id:
      name: upload_id
      in: query
      description: Filter response to return an asset created from this direct upload only
      required: false
      schema:
        type: string
    track_id:
      name: TRACK_ID
      in: path
      description: The ID of the track for an asset.
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using a Mux Access Token ID (username) and Secret (password).
    accessToken:
      description: 'The Mux Video API uses an Access Token and Secret Key for authentication. If you haven''t already, [generate a new Access Token](https://dashboard.mux.com/settings/access-tokens) in the Access Token settings of your Mux account dashboard.


        Once you have an Access Token ID and Secret, you can then simply include those as the username (id) and password (secret) in the same way you use traditional basic auth.

        '
      scheme: basic
      type: http
    authorizationToken:
      description: 'OAuth authorization token, used as a Bearer Auth header

        '
      scheme: bearer
      type: http
x-refined-from:
- mux-com-openapi.yml
- mux-openapi.yml
